<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <style>
    #courseSelector {
      display: none;
    }


    #content {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }

    .clickable-name {
      cursor: pointer;
      color: #007bff;
      text-decoration: underline;
    }

  </style>
</head>
<body>
<div layout:fragment="content" id="content">
  <!-- content header 시작 -->

  <div class="container bg-white shadow rounded p-4 mb-4">
    <div class="mb-4">
      <h1 class="h3 mb-6 text-gray-800 text-center">훈련 일지 등록</h1>
      <hr/>
    </div>
    <!-- 상단 버튼 -->

    <!-- 과정 정보 -->
    <div class="form-row mb-3 mt-3">
      <div class="form-group col-md-6">
        <label><strong>과정명</strong></label>
        <input type="text" class="form-control" readonly
               th:value="${selectAllWithoutActualDTO.getSelectCourseDTO().getName()}">
      </div>
      <div class="form-group col-md-4">
        <label><strong>훈련 일자</strong></label>
        <input type="text" class="form-control" readonly id=registerDate>
      </div>
      <div class="form-group col-md-2">
        <label><strong>총 수강생 수</strong></label>
        <input type="text" class="form-control" readonly
               th:value="${selectAllWithoutActualDTO.getNumberOfLearner()}">
      </div>
    </div>

    <!-- 출석 정보 -->
    <div class="table-responsive mb-4">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
        <tr>
          <th>출석</th>
          <th>지각</th>
          <th>결석</th>
          <th>조퇴</th>
          <th>휴가</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="${selectAllWithoutActualDTO.getResponseParticipationDTO().attendanceCount}">
            조회
          </td>
          <td th:text="${selectAllWithoutActualDTO.getResponseParticipationDTO().lateCount}">조회</td>
          <td th:text="${selectAllWithoutActualDTO.getResponseParticipationDTO().absenceCount}">조회
          </td>
          <td th:text="${selectAllWithoutActualDTO.getResponseParticipationDTO().leaveEarLyCount}">
            조회
          </td>
          <td th:text="${selectAllWithoutActualDTO.getResponseParticipationDTO().vacationPaddingCount}">
            조회
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- 훈련생 이름 -->
    <!--    <div class="mb-4">-->
    <!--      <span class="clickable-name" onclick="alert('박철수')">박 ○○</span>,-->
    <!--      <span class="clickable-name" onclick="alert('김민수')">김 ○○</span>-->
    <!--      <small class="text-muted ml-2">(클릭 or 호버하면 이름 조회되게)</small>-->
    <!--    </div>-->

    <!-- 훈련 과목 -->
    <div class="table-responsive mb-4">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
        <span id="fieldError" style="color: red;"></span>
        <tr>
          <th>교시</th>
          <th>훈련 과목</th>
          <th>훈련 특이사항</th>
        </tr>
        </thead>
        <tbody>
        <!-- 1~7교시 -->

        <tr th:each="dto : ${selectAllWithoutActualDTO.getSelectSchSubDTOList()}">
          <td th:text="${dto.getPeriod()}">1</td>
          <td th:text="${dto.getName()}">조회</td>
          <td class="actual" contenteditable="true" th:data-period="${dto.getPeriod()}"
              th:data-plan="${dto.getId()}"></td>
        </tr>

        <!-- 위는 서버 렌더링용. HTML만 원하시면 아래 코드로 대체하세요. -->

        </tbody>
      </table>
    </div>

    <!-- 하단 버튼 -->
    <div class="text-right">
      <button class="btn btn-primary" id="register">
        <span class="icon text-white-50">
        <i class="fa fa-wrench"></i>
      </span>
        <span class="text px-3">등록</span>
      </button>
      </button>
      <button class="btn btn-secondary" id="toList">
        <span class="icon text-white-50">
          <i class="fas fa-list"></i>
      </span>
        <span class="text px-4">목록</span>
      </button>
    </div>
  </div>


  <!-- content body 끝 -->
</div>
<th:block layout:fragment="script" th:inline="javascript">
  <script>

    let selectAllWithoutActualDTO = /*[[${selectAllWithoutActualDTO}]]*/ null;
    let selectCourseDTO = /*[[${selectAllWithoutActualDTO.selectCourseDTO}]]*/ null;
    let loginUserId = /*[[${loginUser != null ? loginUser.id : -1}]]*/ null;
    let adminIdList = /*[[${adminIdList}]]*/ null; //강사도 포함 가능
    //알림용 데이터(강사 제외하기)
    let adminArr = adminIdList.filter(adminId => adminId !== loginUserId);
    adminArr.push(33);

    // 파라미터의 registerDate 가져오기
    function queryDate() {
      const urlParams = new URLSearchParams(location.search);
      const registerDate = urlParams.get("registerDate");
      $("#registerDate").val(registerDate);
    }

    // 서버에 보낼 데이터(4~8개의 actual)
    function sendActualData() {
      let dataArray = [];
      let postDate = $("#registerDate").val();



      Array.from($(".actual")).forEach(function (actual) {
        //requestBody 로 보내기
        let period = $(actual).data("period");
        let plan = $(actual).data("plan");
        let actualData = {
          period: period,
          plan: plan,
          actual: $(actual).text()
        }
        dataArray.push(actualData);
      })
      // console.log("dataArray", dataArray);

      let finalData = {
        dataArray: dataArray,
        selectCourseDTO: selectCourseDTO,
        postDate: postDate
      }

      axios.post("/training/trainingRegister", finalData)
      .then(function (response) {
        // console.log(response);
        let responseCode = response.data.code;
        let responseMessage = response.data.message;
        let responseData = response.data.data;
        if (responseCode === 200) {
          Swal.fire({
            title: responseMessage,
            text: '훈련일지가 등록되었습니다.',
            icon: 'info',
            confirmButtonText: '예'
          }).then((result) => {
            sendNotification(adminArr, "훈련일지가 등록되었습니다.", false,
                                          "/training/trainingDetail?trainingId=" + responseData);
            location.href = "/training/trainingDetail?trainingId=" + responseData;
          })
        }
      }).catch(function (error) {
        // console.log("error", error);
        let errorCode = error.response.data.code;
        let errorMessage = error.response.data.message;
        let errorData = error.response.data.data;
        // let errorData = error.data.data;
        if (errorCode === 500 || errorCode === 401) {
          Swal.fire({
            title: errorMessage,
            text: '다시 확인해주세요',
            icon: 'error',
            confirmButtonText: '예'
          }).then((result) => {
            location.href = "/training/trainingList";
          })
        } else if (errorCode === 404) {
          Swal.fire({
            title: errorMessage,
            text: '다시 확인해주세요',
            icon: 'error',
            confirmButtonText: '예'
          })
        } else if (errorCode === 400) {
          // fieldError
          for (let [key, value] of Object.entries(errorData)) {
            //value : dataArray[0].actual:Array(1)
            //value[0].defaultMessage,
            let errorMsg = value[0].defaultMessage;
            // console.log("errorMsg", errorMsg);
            if (errorMsg != null && errorMsg.length > 0) {
              $("#fieldError").html(errorMsg);
              // alert(errorMsg);
            } else {
              $("#fieldError").html("");
            }
          }
        }
      })
    }

    $(function () {
      // console.log("selectAllWithoutActualDTO", selectAllWithoutActualDTO);
      // console.log("adminIdList", adminIdList);
      // console.log("adminArr", adminArr);

      // 파라미터의 registerDate
      queryDate();

      // 목록으로
      $("#toList").click(function () {
        location.href = "/training/trainingList";
      })

      $("#register").click(function () {
        sendActualData();
      })

      // $(".actual").on("keydown", function () {
      //   sendActualData(); //수정 성공
      //
      // })

    })


  </script>
</th:block>
</body>
</html>