<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott5.lms.courseboardmaterials.mapper.CourseBoardMaterialsMapper">

  <insert id="insertCourseBoardMaterials" useGeneratedKeys="true" keyProperty="dto.id">
    insert into course_notice(course_id, writer_id, title, content, is_fixed)
    values(#{dto.courseId}, #{dto.writerId}, #{dto.title}, #{dto.content}, #{dto.isFixed})
  </insert>

  <update id="updateCourseBoardMaterials">
    UPDATE course_notice
    SET
    title = #{title},
    content = #{content},
    is_fixed = #{isFixed},
    updated_at = now()
    WHERE
    id = #{id}
  </update>

  <select id="selectCourseBoardMaterialsDetailFlat" resultType="com.goott5.lms.courseboardmaterials.domain.CourseBoardMaterialsFlatDTO">
    SELECT
    cn.id,
    cn.course_id,
    c.name AS courseName,
    cn.title,
    cn.content,
    cn.read_count,
    cn.is_fixed,
    cn.created_at,
    cn.updated_at,
    u.id AS writerId,
    u.fullname AS writerName,
    u.type AS writerType
    FROM
    course_notice cn
    JOIN
    user u ON cn.writer_id = u.id
    JOIN
    course c ON cn.course_id = c.id
    WHERE
    cn.id = #{id} AND cn.deleted_at IS NULL
  </select>

  <select id="selectAttachmentsByBoardId" resultType="com.goott5.lms.common.domain.FileSelectDTO">
    SELECT
    id,
    original_name AS originalName,
    new_name AS newName,
    path,
    is_image AS isImage,
    size
    FROM
    file
    WHERE
    table_name = 'course_notice'
    AND table_id = #{id}
    AND deleted_at IS NULL
  </select>

  <select id="selectListWithSearch" resultType="com.goott5.lms.courseboardmaterials.domain.CourseBoardMaterialsVO">
    SELECT
    cn.id, cn.course_id, cn.writer_id, cn.title, cn.content, cn.is_fixed, cn.read_count, cn.created_at, cn.updated_at, cn.deleted_at,
    c.name AS courseName,
    u.fullname AS writerName,
    CASE WHEN f.table_id IS NOT NULL THEN TRUE ELSE FALSE END AS isAttached
    FROM
    course_notice cn
    JOIN
    course c ON cn.course_id = c.id
    JOIN
    `user` u ON cn.writer_id = u.id
    LEFT JOIN
    (SELECT DISTINCT table_id FROM file WHERE table_name = 'course_notice' AND deleted_at IS NULL) f
    ON cn.id = f.table_id
    <where>
      cn.deleted_at IS NULL
      AND cn.is_fixed = false
      <if test="type != null and !type.isEmpty()">  AND
        <trim prefixOverrides="OR">
          <if test="type.contains('t'.toString())">
            OR cn.title LIKE CONCAT('%', #{keyword}, '%')
          </if>
          <if test="type.contains('c'.toString())">
            OR cn.content LIKE CONCAT('%', #{keyword}, '%')
          </if>
          <if test="type.contains('w'.toString())">
            OR u.fullname LIKE CONCAT('%', #{keyword}, '%')
          </if>
        </trim>
      </if>
      <if test="hasAttachment != null">
        AND (CASE WHEN f.table_id IS NOT NULL THEN TRUE ELSE FALSE END) = #{hasAttachment}
      </if>
      <if test="courseId != null">
        AND cn.course_id = #{courseId}
      </if>
      <if test = "courseName != null">
        AND c.name = #{courseName}
      </if>
      <if test="isInProgress != null">
        AND c.is_in_progress = #{isInProgress}
      </if>
    </where>
    ORDER BY
    cn.is_fixed DESC,
    <choose>
      <when test="orderBy == 'readCount'">cn.read_count</when>
      <when test="orderBy == 'title'">cn.title</when>
      <otherwise>cn.created_at</otherwise> </choose>
    <if test="orderDirection == 'asc'">ASC</if>
    <if test="orderDirection == 'desc' or orderDirection == null or orderDirection == ''">DESC</if>,
    cn.id DESC
    LIMIT #{skip}, #{pagingSize}
  </select>

  <select id="selectTotalCountWithSearch" resultType="int">
    SELECT COUNT(*) FROM
    course_notice cn JOIN
    course c ON cn.course_id = c.id
    JOIN user u ON cn.writer_id = u.id LEFT JOIN
    (SELECT DISTINCT table_id FROM file WHERE table_name = 'course_notice' AND deleted_at IS NULL) f
    ON cn.id = f.table_id
    <where>
      cn.deleted_at IS NULL
      AND cn.is_fixed = false
      <if test="type != null and !type.isEmpty()">
        AND
        <trim prefixOverrides="OR">
          <if test="type.contains('t'.toString())">
            OR cn.title LIKE CONCAT('%', #{keyword}, '%')
          </if>
          <if test="type.contains('c'.toString())">
            OR cn.content LIKE CONCAT('%', #{keyword}, '%')
          </if>
          <if test="type.contains('w'.toString())">
            OR u.fullname LIKE CONCAT('%', #{keyword}, '%')
          </if>
        </trim>
      </if>
      <if test="hasAttachment != null">
        AND (CASE WHEN f.table_id IS NOT NULL THEN TRUE ELSE FALSE END) = #{hasAttachment}
      </if>
      <if test="courseId != null">
        AND cn.course_id = #{courseId}
      </if>
      <if test="courseName != null and courseName != ''">
        AND c.name = #{courseName}
      </if>
      <if test="isInProgress != null">
        AND c.is_in_progress = #{isInProgress}
      </if>
    </where>
  </select>

  <update id="updateReadCount">
    UPDATE course_notice
    SET read_count = read_count + 1
    WHERE id = #{id}
  </update>

  <update id="softDeleteById">
    UPDATE course_notice
    SET deleted_at = NOW()
    WHERE id = #{id}
  </update>

  <select id="countFixedPosts" parameterType="long" resultType="int">
    SELECT
    count(id)
    FROM
    course_notice
    WHERE
    is_fixed = true
    AND course_id = #{courseId}
    AND deleted_at IS NULL
  </select>

  <select id="selectAllFixedPosts"
    parameterType="com.goott5.lms.courseboardmaterials.domain.CourseBoardMaterialsPagingRequestDTO"
    resultType="com.goott5.lms.courseboardmaterials.domain.CourseBoardMaterialsPageDTO">
    SELECT
    cn.id, cn.title, cn.content, cn.is_fixed, cn.created_at, cn.read_count, cn.deleted_at,
    cn.content,
    c.name AS courseName,
    u.fullname AS writerName,
    CASE WHEN f.table_id IS NOT NULL THEN TRUE ELSE FALSE END AS isAttached
    FROM
    course_notice cn
    JOIN
    course c ON cn.course_id = c.id
    JOIN
    `user` u ON cn.writer_id = u.id
    LEFT JOIN
    (SELECT DISTINCT table_id FROM file WHERE table_name = 'course_notice' AND deleted_at IS NULL) f
    ON cn.id = f.table_id
    <where>
      cn.is_fixed = true
      AND cn.deleted_at IS NULL
      <if test="courseId != null and courseId != 0">
        AND cn.course_id = #{courseId}
      </if>
      <if test="courseName != null and courseName != ''">
        AND c.name = #{courseName}
      </if>
    </where>
    ORDER BY
    COALESCE(cn.updated_at, cn.created_at) DESC
  </select>

</mapper>