<!DOCTYPE html>
<html
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/basic.html}">
<head>

</head>
<body>
<div layout:fragment="content">
  <!-- content header 시작 -->
  <div class="row align-items-center">
    <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">1:1문의 등록</h1>
  </div>
  <!-- content header 끝 -->

  <!-- content body 시작 -->
  <form class="mb-4" method="POST" th:action="@{/communityInquiry/inquiryRegister}">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">1:1문의 등록</h6>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title">제목</label>
              <input
                type="text" id="title" name="title" class="form-control"
                placeholder="제목을 입력하세요.">
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="form-group">
              <label for="inquiry">내용</label>
              <textarea
                id="inquiry"
                name="inquiry"
                class="form-control"
                placeholder="본문 내용을 작성하세요."
                style="height: 280px; white-space: pre-wrap;" wrap="hard"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 버튼 -->
    <div class="col-12 d-flex justify-content-end mt-3">
      <button type="submit" id="" class="btn btn-primary btn-icon-split mr-2">
        <span class="icon text-white-50">
            <i class="fas fa-upload"></i>
        </span>
        <span class="text px-5">등록</span>
      </button>
      <button id="" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-times"></i>
        </span>
        <span class="text px-5">취소</span>
      </button>
    </div>
  </form>
  <!-- content body 끝 -->
</div>
<th:block layout:fragment="script" th:inline="javascript">
  <script>
      // javascript 개발은 여기에...

  </script>
</th:block>
</body>
</html>