<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Goott5 LMS시스템</title>

  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <style>
    @media (max-width: 1200px) {
      body {
        min-width: 1200px;
        overflow-x: auto;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .pagination {
      cursor: pointer;
    }

    .page-item.disabled {
      cursor: default;
    }


  </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Home -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Goott5 LMS</div>
    </a>

    <hr class="sidebar-divider">

    <!-- 과정 -->
    <div class="sidebar-heading">
      과정
    </div>

    <!-- 세부 메뉴 선택 시 a.collapse-item에 active 클래스를 추가해주는 개발 필요 -->
    <!-- Nav Item - 과정 관리 -->
    <li th:if="${session.loginUser.type == 'ADMINISTRATOR'}" class="nav-item">
      <a
          class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#courseManagement"
          aria-expanded="true">
        <i class="fas fa-fw fa-cog"></i>
        <span>과정 관리</span>
      </a>
      <div id="courseManagement" class="collapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" th:href="@{/courseManagement/courseList}">과정 조회</a>
          <a class="collapse-item" href="#">수업시간표 조회</a>
          <a class="collapse-item" th:href="@{/courseManagement/learnerAssignment}">교육생 배정</a>
          <a class="collapse-item" th:href="@{/cancelDateManagement/cancelDateManagement}">휴강일
                                                                                           관리</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - 과정 조회 -->
    <li th:if="${session.loginUser.type != 'ADMINISTRATOR'}" class="nav-item nav-single">
      <a class="nav-link" href="#">
        <i class="fa fa-graduation-cap"></i>
        <span>과정 조회</span></a>
    </li>

    <!-- Nav Item - 교육생 관리 -->
    <li th:if="${session.loginUser.type != 'LEARNER'}" class="nav-item">
      <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#learnerManagement"
          aria-expanded="true">
        <i class="fa fa-id-card"></i>
        <span>교육생 관리</span>
      </a>
      <div id="learnerManagement" class="collapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" th:href="@{/learnerManagement/learnerList}">교육생 조회</a>
          <a class="collapse-item" href="#">출결 조회</a>
          <a class="collapse-item" href="#">취업 관리</a>
          <a class="collapse-item" href="#">휴가/조퇴 승인</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - 출결 조회 -->
    <li th:if="${session.loginUser.type == 'LEARNER'}" class="nav-item nav-single">
      <a class="nav-link" th:href="@{/participation/participationView}">
        <i class="fa fa-calendar"></i>
        <span>&nbsp;출결 조회</span></a>
    </li>

    <!-- Nav Item - 훈련 일지 -->
    <li th:if="${session.loginUser.type != 'LEARNER'}" class="nav-item nav-single">
      <a class="nav-link" href="#">
        <i class="fa fa-book"></i>
        <span>&nbsp;훈련 일지</span></a>
    </li>

    <!-- Nav Item - 과정 게시판 -->
    <li class="nav-item">
      <a
          class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#courseBoard"
          aria-expanded="true">
        <i class="fa fa-newspaper"></i>
        <span>과정 게시판</span>
      </a>
      <div id="courseBoard" class="collapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" th:href="@{/courseBoardQnA/qnaList}">Q&A</a>
          <a class="collapse-item" th:href="@{/courseBoardMaterials/materialsList}">공지 및 수업자료</a>
          <a class="collapse-item" href="#">토론 게시판</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - 과제/시험 -->
    <li class="nav-item">
      <a
          class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#homeworkTest"
          aria-expanded="true">
        <i class="fa fa-laptop"></i>
        <span>과제 / 시험</span>
      </a>
      <div id="homeworkTest" class="collapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" th:href="@{/homework/homeworkList}">과제</a>
          <a class="collapse-item" th:href="@{/test/testList}">시험</a>
        </div>
      </div>
    </li>

    <hr class="sidebar-divider">

    <!-- 커뮤니티 -->
    <div class="sidebar-heading">
      커뮤니티
    </div>

    <!-- Nav Item - 공지사항 -->
    <li class="nav-item nav-single">
      <a class="nav-link" href="#">
        <i class="fa fa-bullhorn"></i>
        <span>공지사항</span></a>
    </li>

    <!-- Nav Item - 1:1문의 -->
    <li class="nav-item nav-single">
      <a class="nav-link" href="#">
        <i class="fa fa-comments"></i>
        <span>1:1문의</span></a>
    </li>

    <div th:if="${session.loginUser.type == 'ADMINISTRATOR'}">
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- 운영/관리 -->
      <div class="sidebar-heading">
        운영 / 관리
      </div>
      <!-- Nav Item - 사용자 관리 -->
      <li class="nav-item">
        <a
            class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#userManagement"
            aria-expanded="true">
          <i class="fa fa-user"></i>
          <span>&nbsp;사용자 관리</span>
        </a>
        <div id="userManagement" class="collapse" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="#">사용자 등록</a>
            <a class="collapse-item" href="#">교직원 관리</a>
          </div>
        </div>
      </li>
      <!-- Nav Item - 강의실 관리 -->
      <li class="nav-item nav-single">
        <a class="nav-link" href="#">
          <i class="fa fa-window-restore"></i>
          <span>&nbsp;강의실 관리</span></a>
      </li>
      <!-- Nav Item - 신고 관리 -->
      <li class="nav-item nav-single">
        <a class="nav-link" href="#">
          <i class="fa fa-exclamation-triangle"></i>
          <span>신고 관리</span></a>
      </li>
    </div>

    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- 헤더 내 과정 선택 셀렉트 박스 - 강사와 교육생만 나오게 처리함 -->
        <select
            th:if="${session.loginUser.type != 'ADMINISTRATOR'}"
            id="courseSelector"
            class="form-control col-md-5">
          <option></option>
        </select>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a
                class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter">3</span>
            </a>
              <!-- Dropdown - Alerts -->
            <div
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Notice Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">2025-06-01</div>
                  네트워크 작업으로 인한 인터넷 연결 중단 예정
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-success">
                    <i class="fas fa-donate text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">2025-05-24</div>
                  6월 대통령선거일 휴강 안내
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">2025-05-21</div>
                  5월 훈련장려금 동의관련 안내
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Show All Notice</a>
            </div>
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a
                class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span
                  class="mr-2 d-none d-lg-inline text-gray-600 small"
                  th:text="${session.loginUser.fullName} + '님 안녕하세요.'"></span>
              <img
                  class="img-profile rounded-circle"
                  th:src="@{${session.loginUser.profileImg}}">
            </a>
              <!-- Dropdown - User Information -->
            <div
                class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                개인정보 조회
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                과정이력 조회
              </a>
              <div class="dropdown-divider"></div>
              <a
                  class="dropdown-item" href="#" data-toggle="modal"
                  data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid" layout:fragment="content">


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Goott5 LMS 2025</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">정말로 로그아웃 하시겠어요?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
        <a class="btn btn-primary" th:href="@{/user/logout}">로그아웃</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- sweetalert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).on("click", ".collapse-item", function (e) {
        // 같은 collapse 그룹 내의 모든 collapse-item에서 active 제거
        $(this).closest(".collapse-inner").find(".collapse-item").removeClass("active");

        // 클릭한 요소에 active 추가
        $(this).addClass("active");
    });
    $(document).on("click", ".nav-link", function () {
        $(".collapse-item").removeClass("active");
    });
    $(document).on("click", ".nav-single", function () {
        $(".nav-link").addClass("collapsed");
        $(".collapse").removeClass("show");
    });

</script>
<th:block layout:fragment="script">

</th:block>

</body>

</html>