<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div layout:fragment="content">

</div>

</body>
<th:block layout:fragment="script" th:inline="javascript">
  <script>
    //homeworkDetail 진입 시 확인 객체
    let homeworkIdNull = /*[[${homeworkIdNull ?: ''}]]*/ null;

    //submissionDetail 진입 시 확인 객체
    let noSubmissionDetail = /*[[${noSubmissionDetail}]]*/ null;

    //로컬에 저장된 페이지(리스트에서)
    let savePage = localStorage.getItem("savePage");

    //현재 진행 중인 과정이 없는 강사의 경우
    // 현재 진행 중인 강의 여부(강사가 등록 시, 현재 진행 중인 강의가 아니면 막기)
    let isRegister = /*[[${isRegister}]]*/ null;

    function isRegisterCheck() {
      if(isRegister != null && isRegister !== "undefined" && isRegister === false ){
          Swal.fire({
            title: "강의를 등록할 수 없습니다.",
            text: "현재 진행 중인 과정이 아닙니다.",
            icon: "warning",
            confirmButtonText: "예"
          }).then((result) => {
            if (result.isConfirmed) {
              if (savePage && savePage !== "undefined" && savePage.trim() !== "") {
                location.href = savePage;
              }else{
                location.href = "/homework/homeworkList";
              }
            }
          });
      }
    }

    // homeworkId가 null 일때
    function homeworkIdNullCheck() {
      // console.log("homeworkIdNull", homeworkIdNull);
      if (homeworkIdNull != null && homeworkIdNull !== "undefined"
          && homeworkIdNull.trim()
          !== "") {
        Swal.fire({
          title: homeworkIdNull,
          text: '과제가 존재하지 않아요',
          icon: 'warning',
          confirmButtonText: '예'
        }).then((result) => {
          if (result.isConfirmed) {
            if (savePage && savePage !== "undefined" && savePage.trim() !== "") {
              location.href = savePage;
            } else {
              location.href = "/homework/homeworkList";
            }
          }
        })
        // alert(homeworkIdNull);
      }
    }

    function noSubmissionDetailCheck() {
      // console.log("noSubmissionDetail", noSubmissionDetail);
      if(noSubmissionDetail != null && noSubmissionDetail !== "undefined" && noSubmissionDetail.trim() !== ""){
        Swal.fire({
          title: noSubmissionDetail,
          text: '제출물을 다시 확인해주세요',
          icon: 'warning',
          confirmButtonText: '예'
        }).then((result) => {
          if (result.isConfirmed) {
            if (savePage && savePage !== "undefined" && savePage.trim() !== "") {
              location.href = savePage;
            } else {
              location.href = "/homework/homeworkList";
            }
          }
        })
      }
    }

    $(function () {
      //과제 상세 진입 시 체크
      homeworkIdNullCheck();

      //과제 제출 상세 진입 시 체크
      noSubmissionDetailCheck();

      //(과제 등록 시)현재 진행 중인 과정인지 체크
      isRegisterCheck();
    })

  </script>
</th:block>
</html>