<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>
  <style>
    #courseSelector {
      display: none;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <!-- content header 시작 -->
  <div class="row align-items-center">
    <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">과제 상세</h1>
  </div>
  <!-- content header 끝 -->

  <!-- content body 시작 -->
  <!-- 상단 카드 시작-->
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card border-left-primary shadow-sm py-1">
        <div class="card-body py-2 px-3">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                작성자
              </div>
              <div class="h6 mb-0 text-gray-800" th:text="${instructorLoginId}">김강사</div>

            </div>
            <div class="col-auto">
              <i class="fas fa-user fa-lg text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card border-left-primary shadow py-1">
        <div class="card-body py-2 px-3">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                작성일
              </div>
              <div class="h6 mb-0 text-gray-800"
                   th:text="${homework.getCreatedAt().toString().split('T')[0]}">2025-05-04
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-lg text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card border-left-info shadow py-1">
        <div class="card-body py-2 px-3">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                과제 시작일
              </div>
              <div class="h6 mb-0 text-gray-800"
                   th:text="${homework.getStartDate().toString().split('T')[0]}">2025-05-04
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-lg text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card border-left-info shadow py-1">
        <div class="card-body py-2 px-3">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                과제 종료일
              </div>
              <div class="h6 mb-0 text-gray-800"
                   th:text="${homework.getEndDate().toString().split('T')[0]}">2025-05-10
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-lg text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 상단 카드 끝 -->

  <!-- 본문 시작 -->
  <div class="card shadow mb-4">
    <!-- 제목 -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary" th:text="${homework.getTitle()}">여기에 제목이
        들어옵니다~~</h6>
    </div>
    <!-- 내용 -->
    <div class="card-body py-5" style="min-height: 280px; white-space: pre-wrap;"
         th:text="${homework.getContent()}">
      여기에 내용이 들어옵니다~~~
    </div>
    <!-- 첨부 파일 -->
    <div class="card-footer">
      <p class="mt-2">첨부파일</p>
      <div class="row">

        <th:block th:if="${fileDTOList != null}">
          <div class="col-4 card mb-2" th:each="fileDTO : ${fileDTOList}">
            <div class="row g-0 m-0">
              <div class="col-md-3 pl-2">
                <img
                    th:src="@{/img/no-image.jpg}"
                    class="img-fluid rounded-start"
                    style="width: 60px; object-fit: cover;">
              </div>
              <div class="col-md-9 d-flex align-items-center">
                <div class="card-body p-0" th:unless="${fileDTO.getIsImage()}">
                  <a class="card-title mb-1 text-truncate" th:href="${fileDTO.getPath()}"
                     th:text="${fileDTO.getOriginalName()}">첨부파일123.pdf</a>
                </div>
                <div class="card-body p-0" th:if="${fileDTO.getIsImage()}">
                  <a th:href="${fileDTO.getPath()}"
                     th:data-file="${fileDTO.getNewName()}"
                     th:attr="download=${fileDTO.getOriginalName()}">
                    <img th:src="${fileDTO.getPath()}"
                         style="width: 300px; height: 100px; object-fit: cover;">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </th:block>

      </div>
    </div>
  </div>
  <!-- 본문 끝 -->

  <!-- 버튼 -->
  <div class="col-12 d-flex justify-content-end mb-4">
    <button id="modify" class="btn btn-info btn-icon-split mr-2"
            th:if="${loginUser.getType() == 'INSTRUCTOR'}">
      <span class="icon text-white-50">
        <i class="fa fa-wrench"></i>
      </span>
      <span class="text px-3">과제수정</span>
    </button>
    <button id="deleteHomework" class="btn btn-danger btn-icon-split mr-2"
            th:if="${loginUser.getType() == 'INSTRUCTOR'}">
      <span class="icon text-white-50">
        <i class="fa fa-times"></i>
      </span>
      <span class="text px-3">과제삭제</span>
    </button>
    <button id="" class="btn btn-primary btn-icon-split mr-2">
      <span class="icon text-white-50">
        <i class="fas fa-upload"></i>
      </span>
      <span class="text px-3" th:if="${loginUser.getType() == 'LEARNER'}" id = "registerBtn">과제 제출 등록</span>
    </button>
    <button id="toList" class="btn btn-secondary btn-icon-split">
      <span class="icon text-white-50">
          <i class="fas fa-list"></i>
      </span>
      <span class="text px-4" >목록</span>
    </button>
  </div>

  <!-- The Modal -->
  <div class="modal delete" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          정말 삭제하시겠습니까?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger deleteBtn" data-dismiss="modal">예</button>
        </div>

      </div>
    </div>
  </div>

  <!-- content body 끝 -->
</div>
<th:block layout:fragment="script" th:inline="javascript">
  <script>

    // 세션에 저장된 페이지를 담을 변수
    let savePage = "";
    let homeworkId = [[${homework.getId()}]];
    let homeworkIdNull = /*[[${homeworkIdNull}]]*/ null;

    // homeworkId가 null일때
    function homeworkIdNullCheck(){
      if(homeworkIdNull != null && homeworkIdNull !== "undefined" && homeworkIdNull.trim() !== ""){
        alert(homeworkIdNull);
        location.href = "/homework/homeworkList";
      }
    }

    // 등록 버튼
    function registerBtn(){
      location.href = "/homework/submissionRegister?homeworkId=" + homeworkId;
    }

    $(function () {

      homeworkIdNullCheck();

      // 삭제 모달창 뜨기
      $("#deleteHomework").on("click", function () {
        // alert("!");
        $(".delete").modal("show");
      })

      // 모달창 끄기

      $(".close").on("click", function () {
        $(".delete").modal("hide");
      })

      $(".deleteBtn").on("click", function () {
        console.log(homeworkId);
        axios.delete("/homework/deleteHomework?homeworkId=" + homeworkId)
        .then(function (response) {
          savePage = localStorage.getItem("savePage");
          if (savePage && savePage !== "undefined" && savePage.trim() !== "") {
            // console.log("savePage",savePage);
            location.href = savePage;
          } else {
            location.href = "/homework/homeworkList";
          }
        }).catch(function (error) {
          let msg = error.response.data.message;
          let errorCode = error.response.data.code;
          console.log(error);
          alert(msg);
          if (errorCode === 400) {
            location.href = "/homework/homeworkList";
          }
        })
      })

      $("#registerBtn").on("click", function (e) {
        e.preventDefault();

        registerBtn();
      })

      //목록으로
      $("#toList").click(function () {
        location.href = "/homework/homeworkList";
      })

      // 수정
      $("#modify").click(function () {
        location.href = "/homework/homeworkModify?homeworkId=" + homeworkId;
      })



    })

  </script>
</th:block>
</body>
</html>