<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>
  <style>
    #courseSelector {
      pointer-events: none;
      background-color: #eee;
      color: rgb(131, 131, 131);
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <!-- content header 시작 -->
  <div class="row align-items-center">
    <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">과제 제출 등록</h1>
  </div>
  <!-- content header 끝 -->

  <!-- content body 시작 -->
  <form class="mb-4" method="POST" action="" id="formSubmit" enctype="multipart/form-data">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">과제 제출 등록</h6>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title">제목</label>
              <span id="titleError" style="color: red"></span>
              <input type="text" id="title" th:name="title" class="form-control"
                     placeholder="과제명을 작성하세요.">
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-12">
            <div class="form-group">
              <label for="content">내용</label>
              <span id="contentError" style="color: red"></span>
              <textarea
                  id="content"
                  class="form-control"
                  placeholder="본문 내용을 작성하세요."
                  th:name="content"
                  text=""
                  style="min-height: 280px; white-space: pre-wrap;"
                  wrap="hard"></textarea>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="mb-2">첨부파일</div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="file" multiple>
              <label class="custom-file-label" for="file">파일을 선택하세요.</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--preview 단-->
    <div id="preview"></div>

    <!-- 버튼 -->
    <div class="col-12 d-flex justify-content-end mt-3">
      <button id="submit" class="btn btn-primary btn-icon-split mr-2" type="submit">
          <span class="icon text-white-50">
              <i class="fas fa-upload"></i>
          </span>
        <span class="text px-5">등록</span>
      </button>
      <button id="resetSubmission" class="btn btn-secondary btn-icon-split" type="button">
          <span class="icon text-white-50">
              <i class="fas fa-times"></i>
          </span>
        <span class="text px-5">취소</span>
      </button>
    </div>
  </form>


  <!-- content body 끝 -->
</div>
<th:block layout:fragment="script" th:inline="javascript">
  <script>

    let courseName = /*[[${courseName ?: ''}]]*/ null; //과정명 상단에 출력

    let learnerId = /*[[${learnerId}]]*/ null;

    let noAuth = /*[[${noAuth}]]*/ null;

    // let courseId = /*[[${courseId}]]*/ null;

    let instructorId = /*[[${instructorId}]]*/ null;

    // 상단 과정명 출력
    function showCourseSelector() {
      $("#courseSelector").empty();
      $("#courseSelector").append($("<option>", {
            value: courseName,
            text: courseName
          })
      );
      $("#courseSelector").val(courseName);
    }



    //--------파일--------------------
    let fileList = [];

    const MAX_FILE_SIZE = 1024 * 1024 * 8;

    //프리뷰에서 파일 x 누르면 파일리스트에서 삭제
    function removeFile(index) {
      fileList.splice(index, 1);
      previewFile(fileList);
      // console.log("fileList", fileList);
    }

    //프리뷰
    function previewFile(fileList) {
      $("#preview").empty();

      if (fileList != null) {
        fileList.forEach(function (file, index) {
          if (file.type.indexOf("image/") === -1) {
            console.log("이미지 아님");
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
              // 읽기 동작이 완료되었을 때!
              let output = "";
              output += `<div class="card mb-2 w-100" style="height:80px; max-width: 600px; width: 100%; margin-left: 12px; margin-right: 12px;">
    <div class="card-body d-flex align-items-center justify-content-between p-2">
          <span class="text-truncate" style="max-width: 85%; font-size: 0.9rem;">📄 ${file.name}</span>
          <span style="position: absolute; top: 1px; right: 2px" onclick="removeFile(${index});">❌</span>
        </div>
  </div>`;

              $("#preview").append(output);
            }

          } else {
            console.log("이미지 맞음");
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
              // 읽기 동작이 완료되었을 때!
              //e: 이미지 경로? data:image/....
              //console.log("e.target.result", e.target.result); //엄청 길게 나옴
              let output = "";
              output += `<div class="card mb-2 w-100" style="height:80px; max-width: 600px; width: 100%; margin-left: 12px; margin-right: 12px;">
      <div class="card-body d-flex align-items-center justify-content-between p-2">
              <img src="${e.target.result}" class="img-fluid rounded-start" style="width: 200px; height: 70px; object-fit: contain;" />
          <span style="position: absolute; top: 1px; right: 2px" onclick="removeFile(${index});">❌</span>
      </div>
    </div>`;

              $("#preview").append(output);
            }
          }
        })
      }
      console.log("fileList", fileList);
    }

    //파일 넣을 때  사이즈 크면 막고 아니면 넣기
    function checkFileSize(files) {
      for (let file of files) { //유사배열?
        let ext = file.name.split(".").pop().toLowerCase();
        if (file.size > MAX_FILE_SIZE) {
          // alert("8MB를 초과할 수 없습니다.")
          Swal.fire({
            title: '8MB를 초과할 수 없습니다.',
            icon: 'error',
            confirmButtonText: '예'
          })
        }else if(ext.trim() === "exe"){
          Swal.fire({
            title: '실행 파일은 업로드할 수 없습니다.',
            icon: 'error',
            confirmButtonText: '예'
          })
        } else {
          fileList.push(file);
          console.log("fileList", fileList);
        }
      }
    }

    //------------폼 데이터 보내기-----------------------

    function register() {

      let form = document.getElementById("formSubmit");
      let formData = new FormData(form);

      let params = new URLSearchParams(window.location.search);
      let homeworkId = params.get("homeworkId");
      formData.append("homeworkId", homeworkId);
      formData.append("learnerId", learnerId);

      fileList.forEach(function (file) {
        formData.append("fileList", file);
      })
      console.log("fileList", fileList);
      console.log("formData", formData);

      axios.post("/homework/submissionRegister", formData)
      .then(function (response) {
        console.log("response", response);
        let submissionId = response.data.data;
        let userARR = [instructorId];
        sendNotification(userARR, "제출물이 등록 되었습니다", false, "/homework/submissionDetail?submissionId=" + submissionId);
        location.href = "/homework/submissionDetail?submissionId=" + submissionId
      }).catch(function (error) {
        console.log("error", error);
        if (error.response.data.data != null) {
          errorMap = error.response.data.data;
          if (errorMap.title) {
            $("#titleError").html(errorMap.title);
          } else {
            $("#titleError").html("");
          }

          if (errorMap.content) {
            $("#contentError").html(errorMap.content);
          } else {
            $("#contentError").html("");
          }
        }

      })

    }

    //----noAuth(검증)
    function authRegister() {
      if (noAuth != null && noAuth !== 'undefined') {
        // alert(noAuth);
        Swal.fire({
          title: '제출할 수 없습니다',
          text: noAuth,
          icon: 'error',
          confirmButtonText: '예'
        }).then((result) => {
          if (result.isConfirmed) {
            let savePage = localStorage.getItem("savePage");
            if (savePage && savePage !== "undefined" && savePage.trim() !== "") {
              location.href = savePage;
            } else{
            location.href = "/homework/homeworkList";

            }
          }
        })
      }
    }

    $(function () {
      //register 검증
      authRegister();

      //과정명 상단에 출력
      showCourseSelector();

      // 파일 리스트에 파일 넣을때, 사이즈가 크면 막기
      // 파일 리스트에 파일 넣기 => 성공
      $("#file").change(function (e) {
        e.preventDefault();
        let files = e.target.files;
        console.log(files); //FileList로 나옴.
        checkFileSize(files);
        //프리뷰 만들기(파일 리스트에 있는 것들 보여주기) //이미지/비이미지 나누기 //기본 조회 파일 폼에 있는 것, 동적으로 만들기
        previewFile(fileList);
      })

      $("#formSubmit").on("submit", function (e) {
        e.preventDefault();
        register();
      })

      $("#resetSubmission").on("click", function (e) {
        e.preventDefault();
        let savePage = localStorage.getItem("savePage");
        if (savePage && savePage !== "undefined" && savePage.trim() !== "") {
          location.href = savePage;
        }else{
        location.href = "/homework/homeworkList";
        }
      })

    })


  </script>
</th:block>
</body>
</html>