<!DOCTYPE html>
<html
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/basic.html}">
<head>
  <style>
    .form-group input[type="radio"][readonly],
    .form-group input[type="radio"][readonly] + label {
      pointer-events: none;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <input type="hidden" th:value="${session.loginUser.id}" id="login-user-id">
  <input type="hidden" th:value="${session.loginUser.type}" id="login-user-type">
  <input type="hidden" th:value="${statusCountMap}" id="status-count-map">
  <!-- content header 시작 -->
  <div class="row align-items-center mb-4">
    <h1 class="h3 col-4 mx-3 mb-3 text-gray-800">교육생 상세</h1>
  </div>
  <!-- content header 끝 -->

  <!-- content body 시작 -->
  <div class="row d-flex align-items-stretch mb-4">

    <!-- 기본정보 조회 -->
    <div class="col-lg-6 d-flex">
      <div class="card shadow position-relative flex-fill">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">기본정보 조회</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tr class="text-center">
                <th width="30%" class="text-center align-middle" style="border-top: none">이름</th>
                <td class="text-left align-middle"
                    th:text="${#strings.isEmpty(personal.userFullname) ? '-' : personal.userFullname}"
                    style="border-top: none"></td>
              </tr>
              <tr>
                <th width="30%" class="text-center align-middle">생년월일</th>
                <td class="text-left align-middle"
                    th:text="${personal.userBirthday != null ? #dates.format(personal.userBirthday, 'yyyy년 M월 d일') : '-'}"></td>
              </tr>
              <tr>
                <th width="30%" class="text-center align-middle">휴대폰</th>
                <td class="text-left align-middle"
                    th:text="${#strings.isEmpty(personal.userMobile) ? '-' : personal.userMobile}"></td>
              </tr>
              <tr>
                <th width="30%" class="text-center align-middle">이메일</th>
                <td class="text-left align-middle"
                    th:text="${#strings.isEmpty(personal.userEmail) ? '-' : personal.userEmail}"></td>
              </tr>
              <tr>
                <th width="30%" class="text-center align-middle">주소</th>
                <td class="text-left align-middle"
                    th:text="${#strings.isEmpty(personal.userAddress) ? '-' : personal.userAddress}"></td>
              </tr>
              <tr>
                <th width="30%" class="text-center align-middle">성별</th>
                <td th:text="${#strings.trim(personal.userGender) == 'M' ? '남' : '여'}"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 출결 현황 -->
    <div class="col-lg-6 d-flex">
      <div class="card shadow position-relative flex-fill">
        <div class="card-header py-2">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="m-0 font-weight-bold text-primary">출결 현황</h6>
            </div>
            <div class="col-auto">
              <button
                id="prticipation-modal-button"
                class="btn btn-sm btn-info btn-icon-split"
                data-toggle="modal"
                data-target="#participationModal">
                <span class="icon text-white-50">
                  <i class="fa fa-info-circle"></i>
                </span>
                <span class="text">상세보기</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-pie pt-2 pb-2 d-flex align-items-center justify-content-center">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center">
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> 출석 <span id="ATTENDANCE"></span>
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-danger"></i> 결석 <span id="ABSENCE"></span>
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> 휴가 <span id="VACATION"></span>
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-warning"></i> 지각 <span id="LATE"></span>
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-secondary"></i> 조퇴 <span id="LEAVE_EARLY"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- 과제/시험 현황 -->
    <div class="col-lg-6">
      <div class="card shadow position-relative">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">과제/시험 현황</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="text-center">
                <th scope="col" class="align-middle">구분</th>
                <th scope="col" class="align-middle">이행여부</th>
                <th scope="col" class="align-middle">제출자료</th>
                <th scope="col" class="align-middle">결과</th>
              </tr>
              </thead>
              <tbody>
              <!-- 시험 -->
              <tr class="text-center" th:each="test, testStat : ${personal.testRespDTOS}">
                <td class="text-center align-middle" th:text="|${testStat.count}차시험|"></td>
                <td class="text-center align-middle"
                    th:class="${test.tsSubmissionStatus == 'NOT_STARTED'} ? 'text-danger' : 'text-info'"
                    th:text="${test.tsSubmissionStatus == 'NOT_STARTED' ? '미응시' :
                  test.tsSubmissionStatus == 'IN_PROGRESS' ? '응시중' : '응시완료'}">
                </td>
                <td class="text-center align-middle">
                  <span th:if="${test.tsSubmissionStatus == 'NOT_STARTED'}">-</span>
                  <button th:unless="${test.tsSubmissionStatus == 'NOT_STARTED'}"
                          class="btn btn-primary btn-icon-split btn-sm">
                    <span class="text">답안보기</span>
                  </button>
                </td>
                <td class="text-center align-middle">
                  <span th:text="${test.tsIsInvalidated ? '무효' : (test.tsSubmissionStatus == 'NOT_STARTED' ? '-' : test.tsScore)}"></span>
                </td>
              </tr>

              <!-- 과제 -->
              <tr class="text-center" th:each="homework, homeworkStat : ${personal.homeworkRespDTOS}">
                <td class="text-center align-middle" th:text="|${homeworkStat.count}차과제|"></td>
                <td class="text-center align-middle"
                    th:class="${#strings.isEmpty(homework.hsId)} ? 'text-danger' : 'text-info'"
                    th:text="${#strings.isEmpty(homework.hsId) ? '미수행':'수행'}">
                </td>
                <td class="text-center align-middle">
                  <span th:if="${homework.hsId == null}">-</span>
                  <button th:unless="${homework.hsId == null}" class="btn btn-primary btn-icon-split btn-sm">
                    <a th:href="@{/homework/submissionDetail(submissionId=${homework.hsId})}"><span class="text">과제보기</span></a>
                  </button>
                </td>
                <td class="text-center align-middle"
                    th:text="${#strings.isEmpty(homework.heIsPass) ? '평가전' :
                 homework.heIsPass ? 'pass': 'fail'}">
                </td>
              </tr>

              <!-- 데이터가 없을 때 메시지 -->
              <tr th:if="${#lists.isEmpty(personal.testRespDTOS) and #lists.isEmpty(personal.homeworkRespDTOS)}"
                  class="text-center">
                <td colspan="4" class="align-middle text-muted">데이터가 없습니다.</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 취업 관리 -->
    <div class="col-lg-6">
      <div class="card shadow position-relative">
        <div class="card-header py-2">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="m-0 font-weight-bold text-primary">취업관리</h6>
            </div>
            <div class="col-auto">
              <button id="edit-button" class="btn btn-sm btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fa fa-wrench"></i>
                </span>
                <span class="text">수정</span>
              </button>
              <button id="save-button" class="btn btn-sm btn-primary btn-icon-split" style="display: none;">
                <span class="icon text-white-50">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="text">저장</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- 취업 분류 -->
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="form-group">
                <p>취업분류</p>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="unemployed" value="UNEMPLOYED"
                         th:checked="${personal.esEmploymentStatus eq 'UNEMPLOYED'}"
                         readonly>
                  <label class="form-check-label" for="unemployed">취업준비중</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="enmployed" value="EMPLOYED"
                         th:checked="${personal.esEmploymentStatus eq 'EMPLOYED'}"
                         readonly>
                  <label class="form-check-label" for="enmployed">취업</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="studying" value="STUDYING"
                         th:checked="${personal.esEmploymentStatus eq 'STUDYING'}"
                         readonly>
                  <label class="form-check-label" for="studying">학업</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="not-seeking-job" value="NOT_SEEKING_JOB"
                         th:checked="${personal.esEmploymentStatus eq 'NOT_SEEKING_JOB'}"
                         readonly>
                  <label class="form-check-label" for="not-seeking-job">취업의사없음</label>
                </div>
              </div>
            </div>
          </div>

          <!-- 취업 업체 -->
          <div class="row mb-2">
            <div class="col-md-12">
              <p class="mb-1">취업업체 정보</p>
              <input type="hidden" id="es-id" th:value="${personal.esId}">
              <div class="form-group row">
                <div class="col-4">
                  <label for="company-name" class="small">업체명</label>
                  <input type="text" id="company-name" class="form-control"
                         th:value="${#strings.isEmpty(personal.esCompanyName) ? '-' : personal.esCompanyName}" readonly>
                </div>
                <div class="col-4">
                  <label for="company-phone" class="small">업체전화번호</label>
                  <input type="text" id="company-phone" class="form-control"
                         th:value="${#strings.isEmpty(personal.esCompanyPhone) ? '-' : personal.esCompanyPhone}" readonly>
                </div>
                <div class="col-4">
                  <label for="company-address" class="small">업체주소</label>
                  <input type="text" id="company-address" class="form-control"
                         th:value="${#strings.isEmpty(personal.esCompanyAddress) ? '-' : personal.esCompanyAddress}" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <!-- 상담 유무 -->
            <div class="col-md-3">
              <div class="form-group">
                <p>상담유무</p>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input" type="radio" name="is-counseling" id="is-counseling-received-true"
                    value="1"
                    th:checked="${personal.esIsCounselingReceived == true}"
                    readonly
                  >
                  <label class="form-check-label" for="is-counseling-received-true">유</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input" type="radio" name="is-counseling" id="is-counseling-received-false"
                    value="0"
                    th:checked="${personal.esIsCounselingReceived == false}"
                    readonly
                  >
                  <label class="form-check-label" for="is-counseling-received-false">무</label>
                </div>
              </div>
            </div>
            <!-- 메모 -->
            <div class="col-md-9">
              <div class="form-group">
                <label for="counseling-details">메모</label>
                <input type="text" id="counseling-details" class="form-control" th:value="${personal.esCounselingDetails}" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 버튼 -->
  <div class="col-12 d-flex justify-content-end mb-4">
    <a th:href="@{learnerList}">
      <button id="to-learner-list" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-list"></i>
        </span>
        <span class="text px-4">목록</span>
      </button>
    </a>
  </div>
  <!-- content body 끝 -->

  <!-- 출결 상세보기 모달 -->
  <div
    class="modal fade"
    id="participationModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="myModalLabel">출결 상세</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- 테이블 리스트 출석(text-info), 결석(text-danger),
          휴가(text-primary), 지각(text-warning), 조퇴(text-secondary) -->
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="text-center">
                <th scope="col" class="align-middle" style="width:25%">날짜</th>
                <th scope="col" class="align-middle" style="width:25%">출결상태</th>
                <th scope="col" class="align-middle" style="width:30%">사유</th>
                <th scope="col" class="align-middle" style="width:20%">수료시간</th>
              </tr>
              </thead>
              <tbody id="tbody-participation">
              </tbody>
            </table>
          </div>
          <!-- 페이지 -->
          <nav aria-label="Page navigation example" class="col mt-4" id="participation-pagination">
          </nav>
        </div>
        <div class="modal-footer">
          <button id="" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
            <span class="icon text-white-50">
                <i class="fas fa-times"></i>
            </span>
            <span class="text px-3">닫기</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- 모달 끝 -->

</div>
<th:block layout:fragment="script">
  <script src="/vendor/chart.js/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- 외부 JS 파일 연결 -->
  <script th:src="@{/js/learnerManagement/learnerDetail.js}" type="text/javascript"></script>
</th:block>
</body>
</html>