<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>
  <th:block layout:fragment="style"></th:block>
</head>
<body>
<div layout:fragment="content">
  <input type="hidden" th:value="${session.loginUser.id}" id="login-user-id">
  <input type="hidden" th:value="${session.loginUser.type}" id="login-user-type">
    <!-- content header 시작 -->
  <div class="row align-items-center">
    <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">교육생 조회</h1>
    <div class="col d-flex justify-content-end">
      <form class="row col-12 mb-3" th:if="${session.loginUser.type == 'ADMINISTRATOR'}">
        <div class="col-3">
          <select id="is-in-progress" class="form-control">
            <option value="">전체</option>
            <option value="1">진행 중</option>
            <option value="0">종료</option>
          </select>
        </div>
        <div class="col">
          <select id="course-select" class="form-control">
            <option value="">전체</option>
          </select>
        </div>
      </form>
    </div>
  </div>
    <!-- content header 끝 -->

    <!-- content body 시작 -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-0 font-weight-bold text-primary">교육생 리스트 조회</h6>
        </div>
        <div class="input-group col-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="(전체 목록) 교육생 이름으로 검색"
                   id="search-input">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="search-button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card-body">
      <div class="mb-2 row">
        <p class="col">
          <span id="course-name-date"></span>
        </p>
        <p class="justify-content-end mx-5">
          <span id="course-number-of-learner"></span>
        </p>
      </div>

        <!-- 카드 리스트 -->
      <div class="row row-cols-1 row-cols-md-4" id="card-list">

      </div>

        <!-- 페이지 -->
      <nav aria-label="Page navigation example" class="col mt-4" id="learner-pagination">
      </nav>
    </div>
  </div>
    <!-- content body 끝 -->
</div>
<th:block layout:fragment="style">
  <!--<style>
    .card-dropped {
      background-color: #fbdbdb !important;
      opacity: 0.7;
      /*filter: grayscale(1);*/
    }
    .card-null {
      background-color: #efeed0 !important;
      opacity: 0.7;
      filter: grayscale(0.5);
    }
  </style>-->
</th:block>
<th:block layout:fragment="script">
  <!-- 외부 JS 파일 연결 -->
  <script th:src="@{/js/learnerManagement/learnerList.js}" type="text/javascript"></script>
</th:block>
</body>
</html>