<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>
    <title>공지사항 목록</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
      #courseSelector {
        display: none !important;
      }

      .pinned-post {
        background-color: #fffbe6;
        font-weight: bold;
      }

      .pinned-post:hover {
        background-color: #fff8d9;
      }

      .clickable-row {
        cursor: pointer;
      }

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="d-sm-flex align-items-center justify-content-between mb-4"><h1 class="h3 mb-0 text-gray-800">공지사항</h1></div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row align-items-center">
                <div class="col"><h6 class="m-0 font-weight-bold text-primary">공지사항 리스트 조회</h6></div>
                <div class="col-auto" th:if="${userType == 'ADMINISTRATOR'}">
                    <a
                        th:href="@{/communityNotice/noticeRegister}"
                        class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                        <span class="text">공지사항 등록</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form
                class="row mb-3"
                th:action="@{/communityNotice/noticeList}"
                method="get"
                id="searchForm">
                <div class="input-group col-6">
                    <div class="col-3"><select name="searchType" class="form-control">
                        <option
                            value="title"
                            th:selected="${response.pagingRequestDTO.searchType == 'title'}">제목</option>
                        <option
                            value="content"
                            th:selected="${response.pagingRequestDTO.searchType == 'content'}">내용</option>
                        <option
                            value="title_content"
                            th:selected="${response.pagingRequestDTO.searchType == 'title_content'}">제목+내용</option>
                    </select></div>
                    <div class="col-9 input-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="검색어를 입력하세요."
                            name="keyword"
                            th:value="${response.pagingRequestDTO.keyword}">
                        <div class="input-group-append"><button
                            class="btn btn-primary"
                            type="submit"><i class="fas fa-search fa-sm"></i></button></div>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <select name="sortProperty" class="form-control col-4 mr-3" onchange="this.form.submit()">
                        <option
                            value="createdAt"
                            th:selected="${response.pagingRequestDTO.sortProperty == 'createdAt'}">작성일</option>
                        <option
                            value="readCount"
                            th:selected="${response.pagingRequestDTO.sortProperty == 'readCount'}">조회수</option>
                    </select>
                    <select name="sortOrder" class="form-control col-4" onchange="this.form.submit()">
                        <option
                            value="DESC"
                            th:selected="${response.pagingRequestDTO.sortOrder == 'DESC'}">내림차순</option>
                        <option
                            value="ASC"
                            th:selected="${response.pagingRequestDTO.sortOrder == 'ASC'}">오름차순</option>
                    </select>
                </div>
                <input
                    type="hidden"
                    name="pagingSize"
                    th:value="${response.pagingRequestDTO.pagingSize}">
            </form>
            <div class="table-responsive">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 10%;">번호</th>
                        <th class="text-center" style="width: 50%;">제목
                    </th><th
                        style="width: 15%;" class="text-center" >작성자</th><th style="width: 15%;" class="text-center"
                    >등록일</th><th
                        style="width: 10%;" class="text-center" >조회수</th></tr></thead>
                  <tbody>
                    <tr th:each="notice : ${response.pinnedList}"
                        th:data-url="@{/communityNotice/noticeDetail/{id}(id=${notice.id},
                                         pageNo=${response.pagingRequestDTO.pageNo},
                                         pagingSize=${response.pagingRequestDTO.pagingSize},
                                         searchType=${response.pagingRequestDTO.searchType},
                                         keyword=${response.pagingRequestDTO.keyword},
                                         sortProperty=${response.pagingRequestDTO.sortProperty},
                                         sortOrder=${response.pagingRequestDTO.sortOrder})}"
                        class="pinned-post clickable-row">
                        <td class="text-center"><span class="badge badge-danger">중요</span></td>
                        <td th:text="${notice.title}"></td><td th:text="${notice.writerName}" class="text-center"
                    ></td><td th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd')}" class="text-center"
                    ></td><td th:text="${notice.readCount}" class="text-center"></td>
                    </tr>
                    <tr th:each="notice : ${response.dtoList}"
                        th:data-url="@{/communityNotice/noticeDetail/{id}(id=${notice.id},
                                         pageNo=${response.pagingRequestDTO.pageNo},
                                         pagingSize=${response.pagingRequestDTO.pagingSize},
                                         searchType=${response.pagingRequestDTO.searchType},
                                         keyword=${response.pagingRequestDTO.keyword},
                                         sortProperty=${response.pagingRequestDTO.sortProperty},
                                         sortOrder=${response.pagingRequestDTO.sortOrder})}"
                        class="clickable-row">
                        <td th:text="${notice.id}" class="text-center" ></td><td th:text="${notice.title}"></td><td
                        th:text="${notice.writerName}" class="text-center" ></td><td
                        th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd')}" class="text-center" ></td><td
                        th:text="${notice.readCount}" class="text-center" ></td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(response.dtoList) and #lists.isEmpty(response.pinnedList)}"><td colspan="5" class="text-center">등록된 공지사항이 없습니다.</td></tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation" th:if="${response.totalCount > 0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!response.hasPrev} ? 'disabled'"><a
                        class="page-link"
                        th:href="@{/communityNotice/noticeList(pageNo=${response.startPage - 1}, searchType=${response.pagingRequestDTO.searchType}, keyword=${response.pagingRequestDTO.keyword}, sortProperty=${response.pagingRequestDTO.sortProperty}, sortOrder=${response.pagingRequestDTO.sortOrder})}">이전</a></li>
                    <li
                        class="page-item"
                        th:each="num : ${#numbers.sequence(response.startPage, response.endPage)}"
                        th:classappend="${response.pageNo == num} ? 'active'"><a
                        class="page-link"
                        th:href="@{/communityNotice/noticeList(pageNo=${num}, searchType=${response.pagingRequestDTO.searchType}, keyword=${response.pagingRequestDTO.keyword}, sortProperty=${response.pagingRequestDTO.sortProperty}, sortOrder=${response.pagingRequestDTO.sortOrder})}"
                        th:text="${num}"></a></li>
                    <li class="page-item" th:classappend="${!response.hasNext} ? 'disabled'"><a
                        class="page-link"
                        th:href="@{/communityNotice/noticeList(pageNo=${response.endPage + 1}, searchType=${response.pagingRequestDTO.searchType}, keyword=${response.pagingRequestDTO.keyword}, sortProperty=${response.pagingRequestDTO.sortProperty}, sortOrder=${response.pagingRequestDTO.sortOrder})}">다음</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:inline="javascript">
  <script>
    $(document).ready(function () {
        const successMsg = /*[[${successMsg}]]*/ null;
        if (successMsg) {
            Swal.fire({
                          icon             : "success",
                          title            : successMsg,
                          showConfirmButton: false,
                          timer            : 1500
                      });
        }
        const errorMsg = /*[[${errorMsg}]]*/ null;
        if (errorMsg) {
            Swal.fire({
                          icon             : "error",
                          title            : errorMsg,
                          showConfirmButton: false,
                          timer            : 1500
                      });
        }

        document.querySelectorAll('.clickable-row').forEach(row => {
            row.addEventListener('click', function() {
                const url = this.dataset.url; // data-url 속성 값 가져오기
                if (url) {
                    window.location.href = url; // 해당 URL로 페이지 이동
                }
            });
        });

    });
  </script>
</th:block>
</body>
</html>