<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>

</head>
<body>
<div layout:fragment="content">
  <!-- content header 시작 -->
  <div class="row align-items-center">
    <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">휴강일 관리</h1>
      <!-- 과정 검색 필터 (관리자만 나오도록 개발해주세요.) -->
    <div class="col d-flex justify-content-end">
      <form class="row col-12 mb-3">
        <div class="col-3">
          <select id="first-category" class="form-control">
            <option value="-1">진행상황별</option>
            <option value="1">진행 중</option>
            <option value="0">종료</option>
          </select>
        </div>
        <div class="col">
          <select id="second-category" class="form-control">
            <option value="-1">과정별</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <!-- content header 끝 -->

  <!-- content body 시작 -->
  <!-- 휴강일 리스트 -->
  <div class="card shadow mb-4">
    <div class="card-header py-2">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-0 font-weight-bold text-primary">휴강일 리스트 조회</h6>
        </div>
        <div class="col-auto">
          <button id="call-holiday-btn" class="btn btn-sm btn-info btn-icon-split">
            <span class="icon text-white-50">
              <i class="fa fa-undo"></i>
            </span>
            <span class="text">공휴일 불러오기</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr class="text-center">
            <th scope="col" class="align-middle">유형</th>
            <th scope="col" class="align-middle">사유</th>
            <th scope="col" class="align-middle">휴강일자</th>
            <th scope="col" class="align-middle">과정명</th>
            <th scope="col" class="align-middle">관리</th>
          </tr>
          </thead>
          <tbody id="cancel-date-list">


          </tbody>
        </table>
      </div>
    </div>

      <!-- 페이지 -->
    <nav aria-label="Page navigation example" class="col mt-4">
        <ul id="paging-area" class="pagination justify-content-center">
          <li class="page-item">
            <span class="page-link">이전</span>
          </li>
          <li class="page-item active">
            <span class="page-link">1</span>
          </li>
          <li class="page-item">
            <span class="page-link">2</span>
          </li>
          <li class="page-item">
            <span class="page-link">3</span>
          </li>
          <li class="page-item">
            <span class="page-link page-move">다음</span>
          </li>
        </ul>
      </nav>

  </div>

  <!-- 휴강일 등록 -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-0 font-weight-bold text-primary">휴강일 등록</h6>
        </div>
      </div>
    </div>
    <div class="card-body">


      <div class="row mb-4">
        <div class="col-md-3">
          <div class="form-group">
            <label for="is-all">적용범위</label>
            <select id="is-all" class="form-control">
                  <option value="1">전체</option>
                  <option value="0">과정별</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="reason">사유<span class="text-danger">*</span></label>
            <span class="errMsg reasonErr text-danger small"></span>
            <input type="text" id="reason" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="cancel-date">휴강일자<span class="text-danger">*</span></label>
            <span class="errMsg dateErr text-danger small"></span>
            <input type="date" id="cancel-date" class="form-control">
          </div>
        </div>
      </div>

      <div class="row mb-2 for-hide" style="display: none">
        <div class="col-1 mb-2" style="min-width: 100px;">
          적용과정<span class="text-danger">*</span>
        </div>
        <div class="col form-check">

          <span class="errMsg rangeErr text-danger small"></span>
        </div>
      </div>

        <div id="courses-for-reg-cancel-date" class="for-hide" style="display: none">

        </div>


        <!-- 버튼 -->
        <div class="col-12 d-flex justify-content-end mt-5">
          <button id="reg-btn" class="btn btn-primary btn-icon-split mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-upload"></i>
            </span>
            <span class="text px-3">등록</span>
          </button>
        </div>


    </div>
  </div>
  <!-- content body 끝 -->
</div>
<th:block layout:fragment="script" th:inline="javascript">
  <script>
      // javascript 개발은 여기에...

      let categorizeType  = 0;
      let pageNo          = 1;
      let alreadyHolidays = [];
      const tomorrow = new Date();
      tomorrow.setDate(tomorrow.getDate() + 1);


      $(function () {

          $("#cancel-date").attr("min", tomorrow.toISOString().split("T")[0]);

          showCancelDatesByCategorizingAndPaging();

          // 휴강일 삭제
          $("body").on("click", ".delete-btn", function () {
              let courseId = $(this).data("id");

              $.ajax({
                         url        : "/courseManagement/cancelDateManagement/removeCancelDate", // 데이터가 송수신될 서버의 주소
                         type       : "POST", // 통신 방식 (GET, POST, PUT, DELETE)
                         dataType   : "text", // 수신받을 데이터의 타입 (MIME TYPE)
                         data       : JSON.stringify(courseId),
                         contentType: "application/json; charset=utf-8",
                         // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                         async   : false, // 비동기옵션 off
                         success : function (data) { // 통신이 성공하면 수행할 함수

                             console.log(data);
                             showCancelDatesByCategorizingAndPaging();

                         },
                         error   : function () {
                         },
                         complete: function () {
                         }
                     });
          });

          // 휴강일 등록 - 기존 전체적용 휴강일 (공휴일 포함) 불러오기
          $.ajax({
                     url: "/courseManagement/cancelDateManagement/getCancelDatesByIsAll",
                     // 데이터가 송수신될 서버의 주소
                     type    : "GET", // 통신 방식 (GET, POST, PUT, DELETE)
                     dataType: "json", // 수신받을 데이터의 타입 (MIME TYPE)
                     // data       :
                     // contentType: "application/json; charset=utf-8",
                     // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                     async   : false, // 비동기옵션 off
                     success : function (data) { // 통신이 성공하면 수행할 함수
                         alreadyHolidays = data;
                     },
                     error   : function () {
                     },
                     complete: function () {
                     }
                 });

          // 휴강일 등록 - 적용과정 가져오기
          $("#is-all").change(function () {
              showCoursesForRegCancelDate();
          });

          $("#cancel-date").change(function () {

              $(".dateErr").empty();

              let isValidDay = true;
              if (new Date($(this).val()).getDay() == 0 || new Date($(this).val()).getDay() == 6) {
                  isValidDay = false;
              }
              $(alreadyHolidays).each(function (index, item) {
                  if ($("#cancel-date").val() == item.cancelDate) {
                      isValidDay = false;
                  }
              });
              if (!isValidDay) {
                  showErr("dateErr", "공휴일이거나 전체휴강일입니다.");
                  $("#cancel-date").val("");
              }

              showCoursesForRegCancelDate();

          });

          // 등록 버튼
          $("#reg-btn").click(function () {
              let cancelDate = $("#cancel-date").val();
              let reason     = $("#reason").val();

              if (!checkVaild()) {
                  return;
              }

              if ($("#is-all").val() == 1) {
                  $.ajax({
                             url: "/courseManagement/cancelDateManagement/saveCancelDates",
                             // 데이터가 송수신될 서버의 주소
                             type       : "POST", // 통신 방식 (GET, POST, PUT, DELETE)
                             dataType   : "text", // 수신받을 데이터의 타입 (MIME TYPE)
                             data       : JSON.stringify([{
                                 "all"          : true,
                                 "publicHoliday": false,
                                 "cancelDate"   : cancelDate,
                                 "reason"       : reason
                             }]),
                             contentType: "application/json; charset=utf-8",
                             // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                             async   : false, // 비동기옵션 off
                             success : function (data) { // 통신이 성공하면 수행할 함수
                               // sendNotificationToAll(`${cancelDate}에 학원 전체가 휴강합니다. 사유 : ${reason}`,
                               //                       false)
                                 location.reload(true);
                             },
                             error   : function () {
                             },
                             complete: function () {
                             }
                         });

              } else {
                  let cancelDateArr = [];
                  $(".course-for-cancel-date:checked").each(function (index, item) {
                      cancelDateArr.push({
                                             "all"          : false,
                                             "courseId"     :
                                                 $(item).attr("id"),
                                             "publicHoliday": false,
                                             "cancelDate"   : cancelDate,
                                             "reason"       : reason
                                         });

                  });

                  $.ajax({
                             url: "/courseManagement/cancelDateManagement/saveCancelDates",
                             // 데이터가 송수신될 서버의 주소
                             type       : "POST", // 통신 방식 (GET, POST, PUT, DELETE)
                             dataType   : "text", // 수신받을 데이터의 타입 (MIME TYPE)
                             data       : JSON.stringify(cancelDateArr),
                             contentType: "application/json; charset=utf-8",
                             // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                             async   : false, // 비동기옵션 off
                             success : function (data) { // 통신이 성공하면 수행할 함수
                                 location.reload(true);
                             },
                             error   : function () {
                             },
                             complete: function () {
                             }
                         });
              }

          });

          $("#is-all").change(function(){

            if($(this).val() == 1){
              $(".for-hide").hide();
            } else if ($(this).val() == 0){
              $(".for-hide").show();
            }

          });

          // 페이지 로딩 시 두번째 카테고리 과정 가져오기
          $.ajax({
                     url: "/courseManagement/cancelDateManagement/getCoursesByInProgress",
                     // 데이터가 송수신될 서버의 주소
                     type    : "GET", // 통신 방식 (GET, POST, PUT, DELETE)
                     dataType: "json", // 수신받을 데이터의 타입 (MIME TYPE)
                     data    : {"inProgressType": $("#first-category").val()},
                     // contentType: "application/json; charset=utf-8",
                     // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                     async   : false, // 비동기옵션 off
                     success : function (data) { // 통신이 성공하면 수행할 함수

                         output = `<option value='-1'>과정별</option>`;
                         $(data).each(function (index, item) {
                             output += `<option value="${item.id}">${item.name}</option>`;
                         });

                         $("#second-category").html(output);

                     },
                     error   : function () {
                     },
                     complete: function () {
                     }
                 });

      });

      // 첫번째 분류
      $("#first-category").change(function () {
          // console.log($("#first-category").val());

          $.ajax({
                     url: "/courseManagement/cancelDateManagement/getCoursesByInProgress",
                     // 데이터가 송수신될 서버의 주소
                     type    : "GET", // 통신 방식 (GET, POST, PUT, DELETE)
                     dataType: "json", // 수신받을 데이터의 타입 (MIME TYPE)
                     data    : {"inProgressType": $("#first-category").val()},
                     // contentType: "application/json; charset=utf-8",
                     // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                     async   : false, // 비동기옵션 off
                     success : function (data) { // 통신이 성공하면 수행할 함수

                         output = `<option value='-1'>과정별</option>`;
                         $(data).each(function (index, item) {
                             output += `<option value="${item.id}">${item.name}</option>`;
                         });

                         $("#second-category").html(output);

                     },
                     error   : function () {
                     },
                     complete: function () {
                     }
                 });

          showCancelDatesByCategorizingAndPaging();

      });

      // 두번째 분류
      $("#second-category").change(function () {

          showCancelDatesByCategorizingAndPaging();
      });

      const
          myKey =
              "bodgvmkG3ToKBU%2F0FLZyS%2BqJqDmGqVwnPAUXUra4%2BDyM9KVDC8m2a2D37GdWyytohVNW92pmylfOVX4UamgU4w%3D%3D";

      let url =
              "http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?numOfRows=100";
      url += "&ServiceKey=" + myKey;

      // 공휴일 불러오기
      $("#call-holiday-btn").click(function () {

          let requestUrl      = url;
          let nowDate         = new Date();
          let nowYearHoliday  = [];
          let nextYearHoliday = [];

          requestUrl += "&solYear=" + nowDate.getFullYear();
          console.log(requestUrl);

          $.ajax({
                     url     : requestUrl, // 데이터가 송수신될 서버의 주소
                     type    : "GET", // 통신 방식 (GET, POST, PUT, DELETE)
                     dataType: "json", // 수신받을 데이터의 타입 (MIME TYPE)
                     // data       : tmpJson,
                     // contentType: "application/json; charset=utf-8",
                     // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                     async   : false, // 비동기옵션 off
                     success : function (data) { // 통신이 성공하면 수행할 함수

                         console.log(data);
                         $(data.response.body.items.item).each(function (index, item) {
                             let dateStr = item.locdate.toString().slice(0, 4) + "-" +
                                           item.locdate.toString().slice(4, 6) + "-" +
                                           item.locdate.toString().slice(6, 8);
                             if (new Date(dateStr).getDay() != 0 && new Date(dateStr).getDay() !=
                                 6) {

                                 if (item.seq == 1) {
                                     nowYearHoliday.push(item);
                                 } else {
                                     nowYearHoliday.at(-1).dateName =
                                         nowYearHoliday.at(-1).dateName.concat(", ",
                                                                               item.dateName);
                                 }
                             }

                         });
                     },
                     error   : function () {
                     },
                     complete: function () {
                     }
                 });

          requestUrl = url;
          requestUrl += "&solYear=" + (nowDate.getFullYear() + 1);

          $.ajax({
                     url     : requestUrl, // 데이터가 송수신될 서버의 주소
                     type    : "GET", // 통신 방식 (GET, POST, PUT, DELETE)
                     dataType: "json", // 수신받을 데이터의 타입 (MIME TYPE)
                     // data       : tmpJson,
                     // contentType: "application/json; charset=utf-8",
                     // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                     async   : false, // 비동기옵션 off
                     success : function (data) { // 통신이 성공하면 수행할 함수

                         console.log(data);
                         $(data.response.body.items.item).each(function (index, item) {
                             let dateStr = item.locdate.toString().slice(0, 4) + "-" +
                                           item.locdate.toString().slice(4, 6) + "-" +
                                           item.locdate.toString().slice(6, 8);
                             if (new Date(dateStr).getDay() != 0 && new Date(dateStr).getDay() !=
                                 6) {

                                 if (item.seq == 1) {
                                     nextYearHoliday.push(item);
                                 } else {
                                     nextYearHoliday.at(-1).dateName =
                                         nextYearHoliday.at(-1).dateName.concat(", ",
                                                                                item.dateName);
                                 }
                             }

                         });
                     },
                     error   : function () {
                     },
                     complete: function () {
                     }
                 });

          let holidays     = nowYearHoliday.concat(nextYearHoliday);
          let holidaysJson = JSON.stringify(holidays);
          console.log(holidaysJson);

          $.ajax({
                     url : "/courseManagement/cancelDateManagement/saveHoliday", // 데이터가 송수신될 서버의 주소
                     type: "POST", // 통신 방식 (GET, POST, PUT, DELETE)
                     // dataType: "json", // 수신받을 데이터의 타입 (MIME TYPE)
                     data       : holidaysJson,
                     contentType: "application/json; charset=utf-8",
                     // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                     async   : false, // 비동기옵션 off
                     success : function () { // 통신이 성공하면 수행할 함수

                         alert("저장완료");
                         location.reload(true);
                     },
                     error   : function () {
                         alert("저장 실패!!!!");

                     },
                     complete: function () {
                     }
                 });

      });

      function decideCategorizeType() {
          let firstCategory  = $("#first-category").val();
          let secondCategory = $("#second-category").val();

          if (firstCategory == -1 && secondCategory == -1) {
              categorizeType = 0;
          } else if (firstCategory != -1 && secondCategory == -1) {
              categorizeType = 1;
          } else {
              categorizeType = 2;
          }

      }

      function showCancelDatesByCategorizingAndPaging() {

          decideCategorizeType();

          $.ajax({
                     url: "/courseManagement/cancelDateManagement/getCancelDates",
                     // 데이터가 송수신될 서버의 주소
                     type       : "GET", // 통신 방식 (GET, POST, PUT, DELETE)
                     dataType   : "json", // 수신받을 데이터의 타입 (MIME TYPE)
                     data       : {
                         "pageNo"        : pageNo,
                         "categorizeType": categorizeType,
                         "firstCategory" : $("#first-category").val(),
                         "secondCategory": $("#second-category").val()
                     },
                     contentType: "application/json; charset=utf-8",
                     // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                     async   : false, // 비동기옵션 off
                     success : function (data) { // 통신이 성공하면 수행할 함수
                         console.log(data);
                         makeAndShowList(data);
                         makeAndShowPagingArea(data);
                     },
                     error   : function () {
                     },
                     complete: function () {
                     }
                 });

      }

      function makeAndShowPagingArea(data) {

          let output = ``;

          if (data.prev) {
              output += `<li class="page-item">
                           <span class="page-link" onclick="pushPrevBtn(${data.start})">이전</span>
                         </li>`;
          } else {
              output += `<li class="page-item disabled">
                           <span class="page-link">이전</span>
                         </li>`;
          }

          for (let i = data.start; i <= data.end; i++) {

              if (pageNo == i) {
                  output += `<li class="page-item active">
                             <span class="page-link" onclick="pushPageBtn(this)">${i}</span>
                           </li>`;

              } else {
                  output += `<li class="page-item">
                             <span class="page-link" onclick="pushPageBtn(this)">${i}</span>
                           </li>`;
              }

          }

          if (data.next) {
              output += `<li class="page-item">
                           <span class="page-link" onclick="pushNextBtn(${data.start})">다음</span>
                         </li>`;
          } else {
              output += `<li class="page-item disabled">
                           <span class="page-link">다음</span>
                         </li>`;
          }

          $("#paging-area").html(output);

      }

      function pushNextBtn(startNo) {
          pageNo = startNo + 10;
          showCancelDatesByCategorizingAndPaging();

      }

      function pushPrevBtn(startNo) {
          pageNo = startNo - 10;
          showCancelDatesByCategorizingAndPaging();
      }

      function pushPageBtn(thisBtn) {

          pageNo = $(thisBtn).text();
          showCancelDatesByCategorizingAndPaging();

      }

      function makeAndShowList(data) {
          let output = ``;

          $(data.voList).each(function (index, item) {
              output += `<tr>
                                 <td class="text-center align-middle">${item.publicHoliday ?
                                                                        "공휴일" : "자체휴일"}</td>
                                 <td class="text-center align-middle">${item.reason}</td>
                                 <td class="text-center align-middle">${item.cancelDate}</td>
                                 <td class="text-center align-middle">${item.all ? "전체" :
                                                                        item.name}</td>
                                 <td class="text-center align-middle">
                                          ${item.publicHoliday ? "-" :
                                            `<button class='btn btn-danger btn-icon-split btn-sm delete-btn' data-id='${item.id}'><span class='text'>삭제</span></button>`}
                                 </td>
                             </tr>`;
          });

          $("#cancel-date-list").html(output);
      }

      function checkVaild() {
          $(".errMsg").empty();

          let result = true;

          let cancelDate = $("#cancel-date").val();
          let reason     = $("#reason").val();
          let applyCount = $(".course-for-cancel-date:checked").length;

          if (cancelDate == "") {
              showErr("dateErr", "날짜는 필수 항목입니다.");
              result = false;
          }

          if (reason == "") {
              showErr("reasonErr", "사유는 필수 항목입니다.");
              result = false;
          }

          if(!result){
            return result;
          }

          if ($("#is-all").val() == 0 && applyCount == 0) {
              showErr("rangeErr", "최소 하나의 과정은 선택해야 합니다.");
              result = false;
          }

          return result;
      }

      function showErr(errArea, errMsg) {
          $(`.${errArea}`).text(errMsg);
      }

      function showCoursesForRegCancelDate() {
          $("#courses-for-reg-cancel-date").empty();
          if ($("#is-all").val() != 0 || $("#cancel-date").val() == "") {
              return;
          }
          $.ajax({
                     url: "/courseManagement/cancelDateManagement/getCoursesInProgressByDate",
                     // 데이터가 송수신될 서버의 주소
                     type    : "GET", // 통신 방식 (GET, POST, PUT, DELETE)
                     dataType: "json", // 수신받을 데이터의 타입 (MIME TYPE)
                     data    : {
                         cancelDate: $("#cancel-date").val()
                     },
                     // contentType: "application/json; charset=utf-8",
                     // Content-Type헤더가 application/x-www-form-urlencoded; charset=UTF-8로 자동 설정되는 것을 방지
                     async   : false, // 비동기옵션 off
                     success : function (data) { // 통신이 성공하면 수행할 함수
                         let output = ``;
                         $(data).each(function (index, item) {

                             if (index % 2 == 0) {
                                 output += `<div class="row mb-1">`;
                             }
                             output += `<div class="col-md-6 mb-1">
                                          <div class="card h-100 py-3 pl-3 d-flex align-items-start">
                                            <div class="form-check">
                                              <input class="form-check-input course-for-cancel-date" type="checkbox" id="${item.id}">
                                              <label class="form-check-label" for="${item.id}">
                                                ${item.name}
                                              </label>
                                            </div>
                                          </div>
                                        </div>`;

                             if (index % 2 != 0 || index == data.length - 1) {
                                 output += `</div>`;
                             }
                         });

                         $("#courses-for-reg-cancel-date").html(output);

                     },
                     error   : function () {
                     },
                     complete: function () {
                     }
                 });
      }


  </script>
</th:block>
</body>
</html>