<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>

</head>
<body>
<div layout:fragment="content">
  <input type="hidden" th:value="${session.loginUser.id}" id="login-user-id">
  <input type="hidden" th:value="${session.loginUser.type}" id="login-user-type">

    <!-- content header 시작 -->
  <div class="row align-items-center">
    <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">과정 수정</h1>
  </div>
    <!-- content header 끝 -->

    <!-- content body 시작 -->
  <form class="row mb-4" method="" action="">
    <!-- 과정 등록 -->
    <div class="col-lg-6">
      <div class="card position-relative">
        <div class="card-header py-3">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="m-0 font-weight-bold text-primary">과정 등록</h6>
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="row mb-2">
            <div class="col-md-9">
              <div class="form-group">
                <label for="a">과정명</label>
                <input type="text" id="a" class="form-control" th:value="${course.name}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="b">등록인원</label>
                <input type="text" id="b" class="form-control" th:value="${course.numberOfLearner}">
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-3">
              <div class="form-group">
                <label for="c">총훈련시간</label>
                <input type="text" id="c" class="form-control" th:value="${course.totalHours}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="d">총훈련일수</label>
                <input
                    type="text"
                    id="d"
                    class="form-control"
                    th:value="${course.totalDays}"
                    readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="e">일일훈련시간</label>
                <input type="text" id="e" class="form-control" th:value="${course.dailyHours}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="f">쉬는시간</label>
                <input type="text" id="f" class="form-control" th:value="${course.breakTime}">
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="g">과정시작일</label>
                <input type="date" id="g" class="form-control" th:value="${course.startDate}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="h">과정종료일</label>
                <input
                    type="date"
                    id="h"
                    class="form-control"
                    th:value="${course.endDate}"
                    readonly>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="i">훈련시작시간</label>
                <input type="time" id="i" class="form-control" th:value="${course.lessonStartTime}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="j">훈련종료시간</label>
                <input type="time" id="j" class="form-control" th:value="${course.lessonEndTime}">
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="k">식사시작시간</label>
                <input type="time" id="k" class="form-control" th:value="${course.lunchStartTime}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="l">식사종료시간</label>
                <input type="time" id="l" class="form-control" th:value="${course.lunchEndTime}">
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="m">강사명</label>
                <select id="m" class="form-control">
                  <option th:value="${course.fulltimeInstructorFullname}"></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="n">강의실</label>
                <select id="n" class="form-control">
                  <option th:value="${course.classroomName}"></option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- 교과목 및 교재 등록 -->
    <div class="col-lg-6">
      <div class="card position-relative">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">교과목 및 교재 등록</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="text-center">
                <th scope="col" class="align-middle">수업순서</th>
                <th scope="col" class="align-middle">교과목명</th>
                <th scope="col" class="align-middle">시간</th>
                <th scope="col" class="align-middle">교재명</th>
                <th scope="col" class="align-middle">저자명</th>
              </tr>
              </thead>
              <tbody>
              <tr
                  th:if="${course.subjects != null and not #lists.isEmpty(course.subjects)}"
                  th:each="subject : ${course.subjects}">
                <td class="text-center align-middle"><input
                    type="text"
                    id=""
                    class="form-control"
                    th:value="${subject.subjectOrder}"></td>
                <td class="text-center align-middle"><input
                    type="text"
                    id=""
                    class="form-control"
                    th:value="${subject.name}"></td>
                <td class="text-center align-middle"><input
                    type="text"
                    id=""
                    class="form-control"
                    th:value="${subject.hours}"></td>
                <td class="text-center align-middle"><input
                    type="text"
                    id=""
                    class="form-control"
                    th:value="${subject.textbookName}"></td>
                <td class="text-center align-middle"><input
                    type="text"
                    id=""
                    class="form-control"
                    th:value="${subject.textbookAuthor}"></td>
              </tr>
              </tbody>
            </table>
            <div class="text-center">
              <button id="" class="btn btn-sm btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="text px-3">추가</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 버튼 -->
    <div class="col-12 d-flex justify-content-end mt-3">
      <button id="" class="btn btn-primary btn-icon-split mr-2">
        <span class="icon text-white-50">
            <i class="fas fa-upload"></i>
        </span>
        <span class="text px-5">저장</span>
      </button>
      <button id="" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-times"></i>
        </span>
        <span class="text px-5">취소</span>
      </button>
    </div>
  </form>
    <!-- content body 끝 -->
</div>
<th:block layout:fragment="script">
  <!-- 외부 JS 파일 연결 -->
  <script th:src="@{/js/courseManagement/courseModify.js}" type="text/javascript"></script>
</th:block>
</body>
</html>