<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>

</head>
<body>
<div layout:fragment="content">
  <input type="hidden" th:value="${session.loginUser.id}" id="login-user-id">
  <input type="hidden" th:value="${session.loginUser.type}" id="login-user-type">
    <!-- content header 시작 -->
  <div class="row align-items-center">
    <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">과정 상세</h1>
  </div>
    <!-- content header 끝 -->

    <!-- content body 시작 -->
  <div class="row mb-4">
    <!-- 과정 내역 -->
    <div class="col-lg-6">
      <div class="card shadow position-relative">
        <div class="card-header py-3">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="m-0 font-weight-bold text-primary">과정 내역</h6>
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="row mb-2">
            <div class="col-md-9">
              <div class="form-group">
                <label for="coName">과정명</label>
                <input type="text" id="coName" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coName}" readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="coNumberOfLearner">등록인원</label>
                <input type="text" id="coNumberOfLearner" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coNumberOfLearner}" readonly>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-3">
              <div class="form-group">
                <label for="coTotalHours">총훈련시간</label>
                <input type="text" id="coTotalHours" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coTotalHours}" readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="coTotalDays">총훈련일수</label>
                <input type="text" id="coTotalDays" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coTotalDays}" readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="coDailyHours">일일훈련시간</label>
                <input type="text" id="coDailyHours" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coDailyHours}" readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="coBreakTime">쉬는시간(분)</label>
                <input type="text" id="coBreakTime" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coBreakTime}" readonly>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="coStartDate">과정시작일</label>
                <input type="date" id="coStartDate" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coStartDate}" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="coEndDate">과정종료일</label>
                <input type="date" id="coEndDate" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coEndDate}" readonly>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="coLessonStartTime">훈련시작시간</label>
                <input type="time" id="coLessonStartTime" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coLessonStartTime}" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="coLessonEndTime">훈련종료시간</label>
                <input type="time" id="coLessonEndTime" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coLessonEndTime}" readonly>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="coLunchStartTime">식사시작시간</label>
                <input type="time" id="coLunchStartTime" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coLunchStartTime}" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="coLunchEndTime">식사종료시간</label>
                <input type="time" id="coLunchEndTime" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coLunchEndTime}" readonly>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4">
              <div class="form-group">
                <label for="coInstructorName">강사명</label>
                <input type="text" id="coInstructorName" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coInstructorName}" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="coCourseHeadName">관리자</label>
                <input type="text" id="coCourseHeadName" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coCourseHeadName}" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="coClassroomName">강의실</label>
                <input type="text" id="coClassroomName" class="form-control"
                       th:value="${record.courseWithAssignedInfo.coClassroomName}" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 교과목 및 교재 내역 -->
    <div class="col-lg-6">
      <div class="card shadow position-relative">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">교과목 및 교재 내역</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="text-center">
                <th scope="col" class="align-middle">수업순서</th>
                <th scope="col" class="align-middle">교과목명</th>
                <th scope="col" class="align-middle">시간</th>
                <th scope="col" class="align-middle">교재명</th>
                <th scope="col" class="align-middle">저자명</th>
              </tr>
              </thead>
              <tbody>
              <tr
                  th:if="${record.subjectOverview.subjectList != null and
                  not #lists.isEmpty(record.subjectOverview.subjectList)}"
                  th:each="subject : ${record.subjectOverview.subjectList}">
                <td class="text-center align-middle" th:text="${subject.cuSubjectOrder}"></td>
                <td class="text-center align-middle" th:text="${subject.cuName}"></td>
                <td class="text-center align-middle" th:text="${subject.cuHours}"></td>
                <td class="text-center align-middle" th:text="${subject.cuTextbookName}"></td>
                <td class="text-center align-middle" th:text="${subject.cuTextbookAuthor}"></td>
              </tr>
              <tr
                  th:unless="${record.subjectOverview.subjectList != null and
                  not #lists.isEmpty(record.subjectOverview.subjectList)}">
                <td colspan="5" class="text-center align-middle">등록된 교과목이 없습니다.</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 버튼 -->
    <div class="col-12 d-flex justify-content-end mt-3">
      <a th:if="${session.loginUser.type} == 'ADMINISTRATOR'" id="modify-link"
         th:href="@{courseModify(courseId=${record.courseWithAssignedInfo.coId})}">
        <button id="modify-button" class="btn btn-info btn-icon-split mr-2"
                th:data-startdate="${record.courseWithAssignedInfo.coStartDate}">
          <span class="icon text-white-50">
            <i class="fa fa-wrench"></i>
          </span>
          <span class="text px-5">수정</span>
        </button>
      </a>
      <button th:if="${session.loginUser.type} == 'ADMINISTRATOR'"
              id="remove-button" class="btn btn-danger btn-icon-split mr-2"
              th:data-startdate="${record.courseWithAssignedInfo.coStartDate}">
        <span class="icon text-white-50">
          <i class="fa fa-times"></i>
        </span>
        <span class="text px-5">삭제</span>
      </button>
      <a th:href="@{courseList}">
        <button class="btn btn-secondary btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-list"></i>
          </span>
          <span class="text px-5">목록</span>
        </button>
      </a>
    </div>
  </div>
    <!-- content body 끝 -->
</div>
<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script th:if="${isSaveSuccess}" th:inline="javascript">
    let isSaveSuccess = [[${isSaveSuccess}]];
    if (isSaveSuccess) {
      Swal.fire({
                  icon: "success",
                  title: "수정되었습니다!",
                  text: "성공적으로 수정되었습니다.",
                  footer: ''
                });
    } else {
      Swal.fire({
                  icon: "error",
                  title: "수정불가능!",
                  text: "과정 관련 DB 테이블을 확인해주세요.",
                  footer: ''
                });
    }
  </script>
  <!-- 외부 JS 파일 연결 -->
  <script th:src="@{/js/courseManagement/courseDetail.js}" type="text/javascript"></script>
</th:block>
</body>
</html>