<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>

</head>
<body>
<div layout:fragment="content">
  <input type="hidden" th:value="${session.loginUser.id}" id="login-user-id">
  <input type="hidden" th:value="${session.loginUser.type}" id="login-user-type">
    <!-- content header 시작 -->
  <div class="row align-items-center">
    <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">과정 개설</h1>
  </div>
    <!-- content header 끝 -->

    <!-- content body 시작 -->
  <form class="row mb-4" method="" action="">
    <!-- 과정 등록 -->
    <div class="col-lg-6">
      <div class="card shadow position-relative">
        <div class="card-header py-2">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="m-0 font-weight-bold text-primary">과정 등록</h6>
            </div>
            <div class="col-auto">
              <button
                  type="button"
                  id="load-course"
                  class="btn btn-sm btn-info btn-icon-split"
                  data-toggle="modal"
                  data-target="#previousCourseModal">
                <span class="icon text-white-50">
                  <i class="fas fa-folder-open"></i>
                </span>
                <span class="text">과정 불러오기</span>
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="row mb-2">
            <div class="col-md-9">
              <div class="form-group">
                <label for="name-input">과정명<span class="text-danger">*</span></label>
                <input type="text" id="name-input" class="form-control" placeholder="과정명을 입력해주세요.">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="number-of-learner-input">등록인원<span class="text-danger">*</span></label>
                <input type="text" id="number-of-learner-input" class="form-control">
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-3">
              <div class="form-group">
                <label for="total-hours-input">총훈련시간<span class="text-danger">*</span></label>
                <input type="text" id="total-hours-input" class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="total-days-input">총훈련일수<span class="text-danger">*</span></label>
                <input type="text" id="total-days-input" class="form-control" readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="daily-hours-input">일일훈련시간<span class="text-danger">*</span></label>
                <select id="daily-hours-input" class="form-control">
                  <option value="">선택</option>
                  <option value="6">6시간</option>
                  <option value="8">8시간</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="break-time-input">쉬는시간(분)<span class="text-danger">*</span></label>
                <select id="break-time-input" class="form-control">
                  <option value="">선택</option>
                  <option value="10">10분</option>
                  <option value="15">15분</option>
                  <option value="20">20분</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="start-date-input">과정시작일<span class="text-danger">*</span></label>
                <input type="date" id="start-date-input" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="end-date-input">과정종료일<span class="text-danger">*</span></label>
                <input type="date" id="end-date-input" class="form-control" readonly>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-group">
                <label for="lesson-start-time-input">훈련시작시간<span class="text-danger">*</span></label>
                <input type="time" id="lesson-start-time-input" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lesson-end-time-input">훈련종료시간<span class="text-danger">*</span></label>
                <input type="time" id="lesson-end-time-input" class="form-control" readonly>
              </div>
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-md-3">
              <div class="form-group">
                <label for="when-lunch">식사시간</label>
                <select id="when-lunch" class="form-control">
                  <option value>선택</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lunch-start-time-input">식사 시작시간<span class="text-danger">*</span></label>
                <input type="time" id="lunch-start-time-input" class="form-control" readonly>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lunch-end-time-input">식사 종료시간<span class="text-danger">*</span></label>
                <input type="time" id="lunch-end-time-input" class="form-control" readonly>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4">
              <div class="form-group">
                <label for="instructor">강사명<span class="text-danger">*</span></label>
                <select id="instructor" class="form-control">
                  <option value="">강사선택</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="administrator">관리자<span class="text-danger">*</span></label>
                <select id="administrator" class="form-control">
                  <option value="">관리자선택</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="classroom">강의실<span class="text-danger">*</span></label>
                <select id="classroom" class="form-control">
                  <option value="">강의실선택</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 교과목 및 교재 등록 -->
    <div class="col-lg-6">
      <div class="card shadow position-relative">
        <div class="card-header py-3 d-flex">
          <h6 class="m-0 font-weight-bold text-primary">교과목 및 교재 등록</h6><span
            class="text-danger">*</span><span id="subject-error"
                                              class='text-danger small errMsg'></span>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="text-center">
                <th scope="col" class="align-middle" width="14%">순서<span class="text-danger">*
                </span></th>
                <th scope="col" class="align-middle" width="20%">교과목명<span class="text-danger">*
                </span></th>
                <th scope="col" class="align-middle" width="14%">시간<span class="text-danger">*
                </span></th>
                <th scope="col" class="align-middle" width="20%">교재명<span class="text-danger">*
                </span></th>
                <th scope="col" class="align-middle" width="17%">저자명<span class="text-danger">*
                </span></th>
                <th scope="col" class="align-middle" width="15%">선택</th>
              </tr>
              </thead>
              <tbody id="subject-table">
                <tr class="subject-row">
                  <td class="text-center align-middle"><input
                      type="text"
                      class="form-control"
                      data-id=""></td>
                  <td class="text-center align-middle"><input
                      type="text"
                      class="form-control"
                      data-id=""></td>
                  <td class="text-center align-middle"><input
                      type="text"
                      class="form-control"
                      data-id=""></td>
                  <td class="text-center align-middle"><input
                      type="text"
                      class="form-control"
                      data-id=""></td>
                  <td class="text-center align-middle"><input
                      type="text"
                      class="form-control"
                      data-id=""></td>
                  <td class="text-center align-middle"><button
                      class='btn btn-danger btn-icon-split btn-sm remove-subject-row-btn'><span
                      class='text'>삭제</span></button></td>
                </tr>

              </tbody>
            </table>
            <div class="text-center">
              <button id="add-subject-row-btn" class="btn btn-sm btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="text px-3">추가</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 버튼 -->
    <div class="col-12 d-flex justify-content-end mt-3">
      <button
          id="register-btn" class="btn btn-primary btn-icon-split mr-2"
          onclick="registerCourse(event)">
        <span class="icon text-white-50">
            <i class="fas fa-upload"></i>
        </span>
        <span class="text px-5">등록</span>
      </button>
      <button id="cancel-btn" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-times"></i>
        </span>
        <span class="text px-5">취소</span>
      </button>
    </div>
  </form>
    <!-- content body 끝 -->

    <!-- 과정 불러오기 모달 -->
  <div
      class="modal fade"
      id="previousCourseModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="myModalLabel">과정 불러오기</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--과정 검색창-->
          <form class="row mb-3">
            <div class="input-group col-6">
              <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="과정명으로 검색하세요."
                    id="search-input">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="search-button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
          <!-- 테이블 리스트 -->
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="text-center">
                <th scope="col" class="align-middle">진행상황</th>
                <th scope="col" class="align-middle">과정명</th>
                <th scope="col" class="align-middle">훈련기간</th>
                <th scope="col" class="align-middle">총훈련시간</th>
                <th scope="col" class="align-middle">총훈련일수</th>
                <th scope="col" class="align-middle">일일훈련시간</th>
                <th scope="col" class="align-middle">선택</th>
              </tr>
              </thead>
              <tbody id="table-body">
              <tr>
                <td class="text-center align-middle"></td>
                <td class="title align-middle text-truncate" style="max-width: 250px;"></td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle">
                  <button class="btn btn-primary btn-icon-split btn-sm">
                    <span class="text" data-dismiss="modal">선택</span>
                  </button>
                </td>
              </tr>

              </tbody>
            </table>
           </div>
          <!-- 페이지 -->
          <nav aria-label="Page navigation example" class="col mt-4" id="course-pagination">
          </nav>
        </div>
        <div class="modal-footer">
          <button id="" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
            <span class="icon text-white-50">
                <i class="fas fa-times"></i>
            </span>
            <span class="text px-3">닫기</span>
          </button>
        </div>
      </div>
    </div>
  </div>
    <!-- 모달 끝 -->
</div>
<th:block layout:fragment="script">
  <!-- 외부 JS 파일 연결 -->
  <script th:src="@{/js/courseManagement/courseRegister.js}" type="text/javascript"></script>

  <script></script>



</th:block>
</body>
</html>