<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Goott5 LMS시스템</title>

  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/css/user/login.css}" rel="stylesheet">
  <style>
    a:hover {
      text-decoration: none;
    }

    #searchId:hover {
      color: #4e73df;
    }

  </style>
</head>
<body id="page-top">
<div id="wrapper">
  <div class="card o-hidden border-0 shadow-lg">
    <div class="card-body p-0">

      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-login-image" style="background-color: #2369d9;">
          <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
            <img th:src="@{/img/lmslogin.png}" style="max-width: 90%; height: auto;">
          </div>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-between">
          <div class="p-5">
            <!-- 로그인 폼 시작 -->
            <div class="text-center mt-4">
              <h2 class="h2 text-gray-900 mb-5">Welcome</h2>
            </div>
            <form id="loginForm" th:action="@{/user/login}" method="POST">
              <div class="d-flex align-items-center gap-2">
                <h4 class="h4 text-gray-900 mb-2 mr-2">Log-in</h4>
                <p class="text-danger small mb-2" th:if="${msg}" th:text="${msg}"></p>
                <p class="text-info small mb-2" th:if="${signupMsg}" th:text="${signupMsg}"></p>
              </div>
              <div class="form-group">
                <input
                  type="text" class="form-control form-control-user"
                  id="loginId" name="loginId"
                  placeholder="아이디를 입력하세요.">
              </div>
              <div class="form-group">
                <input
                  type="password" class="form-control form-control-user"
                  id="password" name="password"
                  placeholder="비밀번호를 입력하세요.">
              </div>
              <div class="form-group row mb-4 align-items-center">
                <!-- 자동 로그인 -->
                <div class="col-5 pl-4 d-flex align-items-center">
                  <div class="custom-control custom-checkbox small">
                    <input
                      type="checkbox" class="custom-control-input" id="autoLogin"
                      name="autoLogin">
                    <label class="custom-control-label mb-0" for="autoLogin">자동로그인</label>
                  </div>
                </div>

                <!-- 아이디 / 비밀번호 변경  -->
                <div class="col-7 text-right pr-4">
                  <span
                    id="searchId"
                    class="small mr-3" style="cursor: pointer" data-toggle="modal"
                    data-target="#findIdModal">ID 찾기</span>
                  <a th:href="@{/user/changePwd}" class="small">비밀번호 변경</a>
                </div>
              </div>
              <button type="submit" id="loginBtn" class="btn btn-primary btn-user btn-block">
                Log-in
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a th:href="@{/user/signup}">아직 가입 전이신가요? 여기서 가입하세요!</a>
            </div>
          </div>

          <div class="text-center mb-5">
            <div class="copyright text-center my-auto">
              <span class="small">Copyright &copy; Goott5 LMS 2025</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ID찾기 모달 -->
  <div
    class="modal fade"
    id="findIdModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="myModalLabel">ID 찾기</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="search-area">
            <div class="row mb-2">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="fullname">이름<span class="text-danger">*</span>&nbsp;&nbsp;</label>
                  <span id="fullname-msg" class="text-danger small"></span>
                  <input type="text" id="fullname" class="form-control">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email">이메일 주소<span class="text-danger">*
                  </span>&nbsp;&nbsp;</label>
                  <span id="email-msg" class="text-danger small"></span>
                  <input type="text" id="email" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div id="id-area"></div>
        </div>
        <div class="modal-footer">
          <button id="findIdBtn" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-upload"></i>
            </span>
            <span class="text px-3">찾기요청</span>
          </button>
          <button id="" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
            <span class="icon text-white-50">
                <i class="fas fa-times"></i>
            </span>
            <span class="text px-3">닫기</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<!-- 모달 끝 -->
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  $("#findIdModal").on("shown.bs.modal", function () {
    $("#search-area").show();
    $("#id-area").html("");
    $("#findIdBtn").show();
    $("#fullname-msg").text("");
    $("#email-msg").text("");
  });

  $("#findIdModal").on("hidden.bs.modal", function () {
    $(this).find("input").val("");
  });

  $("#findIdBtn").on("click", function () {

    let fullname = $("#fullname").val();
    let email    = $("#email").val();

    if (fullname == "") {
      $("#fullname-msg").text("이름을 입력해주세요.");
      return;
    } else {
      $("#fullname-msg").text("");
    }
    if (email == "") {
      $("#email-msg").text("이메일을 입력해주세요.");
      return;
    } else {
      $("#email-msg").text("");
    }

    axios.post("/user/findId", {
      fullname: fullname,
      email   : email

    })
         .then(function (response) {
           if (response.data.code === 200) {

             let id = `${fullname}님의 로그인ID는 ${response.data.data}입니다.`;
             $("#search-area").hide();
             $("#id-area").html(id);
             $("#findIdBtn").hide();

           }
         })
         .catch(function (error) {
           console.log(error);
           if (error.response.data.code === 409) {
             $("#email-msg").text(error.response.data.data).removeClass("text-info")
                            .addClass("text-danger");
             idValidate = false;
           }
         });
  });

</script>
</body>
</html>