<!DOCTYPE html>
<html
    lang="ko"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Goott5 LMS시스템</title>

  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/css/user/login.css}" rel="stylesheet">
  <style>

  </style>
</head>
<body id="page-top">
<div id="wrapper">
  <div class="card o-hidden border-0 shadow-lg">
    <div class="card-body p-0">

      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-login-image" style="background-color: #2369d9;">
          <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
            <img th:src="@{/img/lmslogin.png}" style="max-width: 90%; height: auto;">
          </div>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-between">
          <div class="p-5">
            <!-- 로그인 폼 시작 -->
            <div class="text-center mt-4">
              <h2 class="h2 text-gray-900 mb-5">Welcome</h2>
            </div>
            <form id="loginForm" th:action="@{/member/login}" method="POST">
              <h4 class="h4 text-gray-900 mb-2">Log-in</h4>
              <div class="form-group">
                <input
                    type="text" class="form-control form-control-user"
                    id="userId" name="userId"
                    placeholder="아이디를 입력하세요.">
              </div>
              <div class="form-group">
                <input
                    type="password" class="form-control form-control-user"
                    id="userPwd" name="userPwd"
                    placeholder="비밀번호를 입력하세요.">
              </div>
              <div class="form-group row mb-4 align-items-center">
                <!-- 자동 로그인 -->
                <div class="col-5 pl-4 d-flex align-items-center">
                  <div class="custom-control custom-checkbox small">
                    <input
                        type="checkbox" class="custom-control-input" id="rememberId"
                        name="rememberMe">
                    <label class="custom-control-label mb-0" for="rememberId">자동로그인</label>
                  </div>
                </div>

                <!-- 비밀번호 변경 링크 -->
                <div class="col-7 text-right pr-4">
                  <a th:href="@{/user/passwordModify}" class="small">비밀번호 변경이 필요하신가요?</a>
                </div>
              </div>
              <button type="submit" id="loginBtn" class="btn btn-primary btn-user btn-block">
                Login
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a th:href="@{/user/signup}">회원이 아니신가요? 여기서 가입하세요!</a>
            </div>
          </div>

          <div class="text-center mb-5">
            <div class="copyright text-center my-auto">
              <span class="small">Copyright &copy; Goott5 LMS 2025</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>


</script>
<th:block layout:fragment="script">

</th:block>
</body>
</html>