<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Goott5 LMS시스템</title>

  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/css/user/login.css}" rel="stylesheet">
  <style>
    #address[readonly] {
      background-color: #fff !important;
    }
  </style>
</head>
<body id="">
<div id="wrapper" class="py-5">
  <div class="card o-hidden border-0 shadow-lg" style="height: auto">
    <div class="card-body p-0">
      <div class="row">
        <div class="col">
          <div class="p-5">
            <div class="text-center">
              <h2 class="h2 text-gray-900 mb-5">회원가입</h2>
            </div>
            <form
              id="signupForm"
              class="user"
              th:action="@{/user/signup}"
              method="POST"
              enctype="multipart/form-data">

              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="loginId">로그인ID(3자~20자)<span class="text-danger">*
                    </span>&nbsp;&nbsp;</label>
                    <span id="loginId-msg" class="text-danger small">ID 사용가능 여부 확인을 해주세요.</span>
                    <div class="input-group">
                      <input
                        type="text" id="loginId" name="loginId" class="form-control"
                        placeholder="영문 또는 숫자로만 입력해주세요.">
                      <div class="input-group-append">
                        <button
                          id="idValidationCheckBtn"
                          class="btn btn-outline-primary"
                          type="button">ID확인</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fullname">이름<span class="text-danger">*</span>&nbsp;&nbsp;</label>
                    <span id="fullname-msg" class="text-danger small"></span>
                    <input
                      type="text"
                      id="fullname"
                      name="fullname"
                      class="form-control"
                      placeholder="이름을 입력하세요.">
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="password">비밀번호(4자 ~ 20자)<span class="text-danger">*</span>&nbsp;
                                      &nbsp;</label>
                    <span id="password-msg" class="text-danger small"></span>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="영문,숫자,특수문자 중 2가지 이상을 혼합하여 입력하세요."/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="password2">비밀번호 재입력<span class="text-danger">*</span>&nbsp;
                                       &nbsp;</label>
                    <span id="password2-msg" class="text-danger small"></span>
                    <input
                      type="password"
                      id="password2"
                      class="form-control"
                      placeholder="비밀번호를 한번 더 입력하세요."/>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="email">이메일<span class="text-danger">*
                    </span>&nbsp;&nbsp;</label>
                    <span id="email-msg" class="text-danger small">이메일 주소 인증이 필요합니다.</span>
                    <div class="input-group">
                      <input
                        type="text" id="email" name="email" class="form-control"
                        placeholder="과정 신청 시 작성했던 이메일 주소를 입력하세요.">
                      <div class="input-group-append">
                        <button
                          id="emailSendBtn"
                          class="btn btn-outline-primary"
                          type="button">이메일 인증</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="certificateNo">인증번호<span class="text-danger">*
                    </span>&nbsp;&nbsp;</label>
                    <span id="emailValid-msg" class="text-danger small"></span>
                    <div class="input-group">
                      <input
                        type="text" id="certificateNo" class="form-control"
                        placeholder="이메일로 발송된 인증번호를 입력하세요.">
                      <div class="input-group-append">
                        <button
                          id="emailValidCheckBtn"
                          class="btn btn-outline-primary"
                          type="button" disabled>인증번호 확인</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="mobile">휴대폰 번호<span class="text-danger">*
                    </span>&nbsp;&nbsp;</label>
                    <span id="mobile-msg" class="text-danger small">휴대폰번호 인증을 해주세요.</span>
                    <input type="hidden" id="mobile" name="mobile"/>
                    <div class="form-inline">
                      <select
                        id="mobile1" class="form-control mr-2" style="width:
                       24%;">
                        <option value="010" selected>010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                      </select>

                      <input
                        type="text"
                        id="mobile2"
                        maxlength="4"
                        class="form-control mr-2"
                        style="width: 25%"
                        placeholder="0000"
                      />
                      <input
                        type="text"
                        id="mobile3"
                        maxlength="4"
                        class="form-control mr-2"
                        style="width: 25%"
                        placeholder="0000"
                      />
                      <button
                        id="mobileCheckBtn"
                        class="btn btn-outline-primary"
                        type="button" style="width: 20%;">번호 인증</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="address">주소<span class="text-danger">*
                    </span>&nbsp;&nbsp;</label>
                    <span id="address-msg" class="text-danger small">주소검색 버튼을 클릭하세요.</span>
                    <div class="input-group">
                      <input
                        type="text" id="address" name="address" class="form-control"
                        placeholder="주소를 검색해주세요." readonly>
                      <div class="input-group-append">
                        <button
                          id="addressSearchBtn"
                          class="btn btn-outline-primary"
                          type="button">주소검색</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-md-6 align-items-center">
                  <p class="mb-2 pb-1">profile 사진&nbsp;&nbsp;
                    <span id="profileImage-msg" class="text-danger"></span>
                  </p>

                  <div class="row">
                    <!-- input 영역 (col-8) -->
                    <div class="col-md-8">
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="profileFile"
                          name="profileFile"
                          accept="image/*">
                        <label class="custom-file-label" for="profileFile">파일을 선택하세요.</label>
                      </div>
                    </div>

                    <!-- preview 영역 (col-4) -->
                    <div class="col-md-4">
                      <div id="preview" class="d-flex flex-wrap"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-end mb-3">
                <button type="submit" id="signupBtn" class="btn btn-primary btn-icon-split mr-2">
                  <span class="icon text-white-50">
                      <i class="fas fa-address-book"></i>
                  </span>
                  <span class="text">회원가입</span>
                </button>
                <a class="btn btn-secondary btn-icon-split" th:href="@{/}">
                  <span class="icon text-white-50">
                    <i class="fa fa-times"></i>
                  </span>
                  <span class="text">취소</span>
                </a>
              </div>
            </form>
            <hr>
            <div class="text-center">
              <div class="copyright text-center my-auto">
                <span class="small">Copyright &copy; Goott5 LMS 2025</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- 주소 검색 api -->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>

  let idValidate       = false;
  let passwordValidate = false;
  let emailValidate    = false;
  let mobileValidate   = false;
  let addressValidate  = false;

  $("#loginId").on("keyup", function () {
    idValidate = false;
    $("#duplicateIdCheckBtn").prop("disabled", false);
    $("#loginId-msg")
    .html("ID 사용가능 여부 확인을 해주세요.")
    .removeClass("text-info")
    .addClass("text-danger");
  });

  $("#idValidationCheckBtn").on("click", validateLoginId);

  $("#password").on("blur", validatePassword);
  $("#password2").on("blur", comparePasswords);

  $("#email").on("keyup", function () {

    emailValidate = false;

    $("#emailSendBtn").prop("disabled", false);
    $("#email-msg")
    .text("인증번호 전송을 위해 이메일 발송을 클릭해주세요.")
    .removeClass("text-info")
    .addClass("text-danger");
    $("#emailValid-msg").text("");
  });

  $("#emailSendBtn").on("click", validateEmail);

  $("#emailValidCheckBtn").on("click", certificateAuthCode);

  $("#mobileCheckBtn").on("click", validateMobile);

  $("#addressSearchBtn").on("click", searchAddress);

  $("#profileFile").on("change", attachFile);

  $("#signupForm").on("submit", function (e) {
    if (!idValidate) {
      console.log("아이디에 문제있음");
      e.preventDefault();
    }
    if (!validateFullname()) {
      console.log("이름에 문제있음");
      e.preventDefault();
    }
    if (!passwordValidate) {
      console.log("비밀번호에 문제있음");
      e.preventDefault();
    }
    if (!emailValidate) {
      console.log("이메일에 문제있음");
      e.preventDefault();
    }
    if (!mobileValidate) {
      console.log("휴대폰 번호에 문제있음");
      e.preventDefault();
    }
    if (!addressValidate) {
      console.log("주소에 문제있음");
      e.preventDefault();
    }
  });

  function validateLoginId() {
    let loginId     = $("#loginId").val();
    let $loginIdMsg = $("#loginId-msg");

    if (loginId.length < 3 || loginId.length > 20) {
      $loginIdMsg.text("입력하신 글자수를 확인해주세요.");
      return false;
    }

    axios.post("/user/idDuplicateCheck", {
      loginId: loginId

    })
         .then(function (response) {
           if (response.data.code === 200) {
             $loginIdMsg.text(response.data.data).removeClass("text-danger")
                        .addClass("text-info");
             idValidate = true;
           }
         })
         .catch(function (error) {
           console.log(error);
           if (error.response.data.code === 409) {
             $loginIdMsg.text(error.response.data.data).removeClass("text-info")
                        .addClass("text-danger");
             idValidate = false;
           }
         });

  }

  function validateFullname() {
    let fullname     = $("#fullname").val();
    let $fullnameMsg = $("#fullname-msg");

    if (fullname.length === 0) {
      $fullnameMsg.text("이름을 입력해주세요.");
      return false;
    }

    if (fullname.length > 20) {
      $fullnameMsg.text("이름은 20자 아내로 입력하셔야 합니다.");
      return false;
    }

    // 정상일 경우
    $fullnameMsg.text("");
    return true;
  }

  function validatePassword() {
    let password     = $("#password").val();
    let $passwordMsg = $("#password-msg");

    if (password.length < 4 || password.length > 20) {
      $passwordMsg.text("비밀번호 글자수는 4자~20자로 작성해주세요.")
                  .removeClass("text-info")
                  .addClass("text-danger");
      $("#password").focus();
    } else {
      let hasLetter  = /[a-zA-Z]/.test(password);
      let hasNumber  = /[0-9]/.test(password);
      let hasSpecial = /[!@#$%^&*(),.?":{}|<>]/.test(password);

      let count = [hasLetter, hasNumber, hasSpecial].filter(Boolean).length;

      if (count < 2) {
        $passwordMsg.text("영문,숫자,특수문자 중 2개 이상을 포함하세요.")
                    .removeClass("text-info")
                    .addClass("text-danger");
        $("#password").focus();
      } else {
        $passwordMsg.text("사용가능한 비밀번호 입니다.")
                    .removeClass("text-danger")
                    .addClass("text-info");

        if ($("#password2").val() != "") {
          comparePasswords();
        }
      }
    }
  }

  function comparePasswords() {
    let password      = $("#password").val();
    let password2     = $("#password2").val();
    let $password2Msg = $("#password2-msg");

    if (password2 == "") {
      passwordValidate = false;

    } else if (password != password2) {
      passwordValidate = false;
      $password2Msg
      .text("비밀번호가 일치하지 않습니다.")
      .removeClass("text-info")
      .addClass("text-danger");

    } else {
      passwordValidate = true;
      $password2Msg
      .text("비밀번호가 일치합니다.")
      .removeClass("text-danger")
      .addClass("text-info");
    }
  }

  function validateEmail() {
    $("#emailSendBtn").prop("disabled", true);

    let email          = $("#email").val();
    let emailRegExp    = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    let $emailMsg      = $("#email-msg");
    let $emailValidMsg = $("#emailValid-msg");

    if (!emailRegExp.test(email)) {
      $emailMsg
      .text("유효하지 않은 이메일 주소입니다.")
      .removeClass("text-info")
      .addClass("text-danger");
      $("#emailSendBtn").prop("disabled", false);
    } else {
      $emailMsg
      .text("이메일 주소 확인 중입니다. 잠시만 기다려주세요.")
      .removeClass("text-danger")
      .addClass("text-info");

      axios.post("/user/sendAuthCodeForSignup", {
        email   : email,
        fullname: $("#fullname").val(),

      })
           .then(function (response) {
             if (response.data.code === 200) {
               $("#emailValidCheckBtn").prop("disabled", false);
               $emailMsg
               .text("유효한 이메일 주소입니다.")
               .removeClass("text-danger")
               .addClass("text-info");
               startEmailTimer();
             }
           })
           .catch(function (error) {
             console.log(error);
             if (error.response.data.code === 409) {
               $emailMsg.text(error.response.data.data).removeClass("text-info")
                        .addClass("text-danger");
             } else {
               $emailValidMsg.text("이메일 발송에 문제가 생겼습니다. 다시 한번 발송해주세요.").removeClass("text-info")
                             .addClass("text-danger");
             }
             $("#emailSendBtn").prop("disabled", false);
           });

    }

  }

  function certificateAuthCode() {

    axios.post("/user/certificateAuthCode", {
      certificateNo: $("#certificateNo").val(),

    })
         .then(function (response) {
           if (response.data.code === 200) {
             clearInterval(timerId);
             $("#emailValid-msg")
             .text("인증 확인되었습니다.")
             .removeClass("text-danger")
             .addClass("text-info");
             $("#emailValidCheckBtn").prop("disabled", true);

             emailValidate = true;
           }
         })
         .catch(function (error) {
           console.log(error);
           if (error.response.data.code === 409) {
             $("#emailValid-msg").text(error.response.data.data).removeClass("text-info")
                                 .addClass("text-danger");
           } else {
             $("#emailValid-msg").text("통신 에러가 생겼습니다. 다시 한번 시도해주세요.").removeClass("text-info")
                                 .addClass("text-danger");
           }
         });

  }

  function validateMobile() {
    let m1         = $("#mobile1").val();
    let m2         = $("#mobile2").val();
    let m3         = $("#mobile3").val();
    let $mobileMsg = $("#mobile-msg");

    // 숫자만 허용하는 정규표현식
    const numberOnly = /^[0-9]+$/;

    if (!m1 || !m2 || !m3) {
      $mobileMsg.text("휴대폰 번호를 모두 입력해주세요.");
      return;
    }

    if (!numberOnly.test(m2) || !numberOnly.test(m3)) {
      $mobileMsg.text("숫자만 입력해주세요.");
      return;
    }

    if (m2.length < 3 || m2.length > 4 || m3.length !== 4) {
      $mobileMsg.text("휴대폰 번호 형식을 확인해주세요.");
      return;
    }

    // 정상일 경우
    $mobileMsg.text("");
    let mobile = `${m1}-${m2}-${m3}`;

    axios.post("/user/mobileDuplicateCheck", {
      mobile: mobile

    })
         .then(function (response) {
           if (response.data.code === 200) {
             $mobileMsg.text(response.data.data).removeClass("text-danger")
                       .addClass("text-info");
             $("#mobile1").prop("disabled", true);
             $("#mobile2").prop("disabled", true);
             $("#mobile3").prop("disabled", true);
             $("#mobile").val(mobile);
             mobileValidate = true;
           }
         })
         .catch(function (error) {
           console.log(error);
           if (error.response.data.code === 409) {
             $mobileMsg.text(error.response.data.data).removeClass("text-info")
                       .addClass("text-danger");
             mobileValidate = false;
           }
         });

  }

  // 인증번호 입력에 대한 타이머 동작
  let timerId;
  let timeLeft = 180;

  function startEmailTimer() {
    clearInterval(timerId);
    timeLeft           = 180;
    let $emailValidMsg = $("#emailValid-msg");

    $emailValidMsg.text(`이메일이 발송되었습니다.`).removeClass("text-danger")
                  .addClass("text-info");

    timerId = setInterval(function () {
      timeLeft--;

      let minutes = String(Math.floor(timeLeft / 60)).padStart(2, "0");
      let seconds = String(timeLeft % 60).padStart(2, "0");

      $emailValidMsg
      .text(`인증번호를 입력해주세요(남은 시간: ${minutes}:${seconds})`);

      if (timeLeft <= 0) {
        clearInterval(timerId);
        $emailValidMsg
        .text("인증 시간이 만료되었습니다.")
        .removeClass("text-info")
        .addClass("text-danger");

        removeCertificateNo();
      }
    }, 1000);
  }

  // 타이머 만료에 따른 인증번호 삭제
  function removeCertificateNo() {

    axios.post("/user/removeCertificateNo", {})
         .then(function (response) {
           if (response.data.code === 200) {

             $("#emailValidCheckBtn").prop("disabled", true);
             $("#emailSendBtn").prop("disabled", false);
             $("#email-msg")
             .html("이메일 인증을 다시 해주세요.")
             .removeClass("text-info")
             .addClass("text-danger");

             emailVaild = false;

           }
         })
         .catch(function (error) {
           console.log(error);
         });
    
  }

  // 도로명 주소 검색
  function searchAddress() {
    new daum.Postcode({
                        oncomplete: function (data) {
                          document.getElementById("address").value = data.roadAddress;
                          $("#address-msg").text("");
                          addressValidate = true;
                        }
                      }).open();
  }

  // 프로필 파일 썸네일 보여주기
  function attachFile() {
    const files = this.files;

    // 1. 파일명 표시
    let fileName = "";
    if (files.length === 1) {
      fileName = files[0].name;
    } else {
      fileName = `${files.length}개의 파일`;
    }
    $(this).next(".custom-file-label").text(fileName);

    // 2. 미리보기
    const $preview = $("#preview");
    $preview.empty(); // 기존 썸네일 제거

    Array.from(files).forEach(file => {
      if (!file.type.startsWith("image/")) {
        return;
      }

      const reader  = new FileReader();
      reader.onload = function (e) {
        const img = $("<img>")
        .attr("src", e.target.result)
        .css({
               width       : "130px",
               height      : "130px",
               objectFit   : "cover",
               borderRadius: "10px",
               border      : "1px solid #ccc"
             });
        $preview.append(img);
      };
      reader.readAsDataURL(file);
    });
  }

</script>
</body>
</html>