<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott5.lms.notification.mapper.NotificationMapper">

  <insert id="insertNotification" parameterType="com.goott5.lms.notification.domain.NotificationSaveDTO">
    
    insert into notification

    <choose>
      <when test="targetURI != null">

        (user_id, content, target_uri, is_warning) values
        <foreach collection="userIds" item="userId" separator=", ">
          (#{userId}, #{content}, #{targetURI}, #{isWarning})
        </foreach>

      </when>
      <when test="targetURI == null">

        (user_id, content, is_warning) values
        <foreach collection="userIds" item="userId" separator=", ">
          (#{userId}, #{content}, #{isWarning})
        </foreach>

      </when>
    </choose>
    

    
  </insert>
  
</mapper>