<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott5.lms.learnermanagement.mapper.LearnerManagementMapper">

  <!--
    pageNo, pageSize가 있으면 LIMIT 반영, ServiceImpl에서 반환처리
    type, keyword가 있으면 검색해서 반환
    orderBy, orderDirection의 기본값(id, ASC) 변경 가능
    u.id, u.type, u.login_id, u.password, u.fullname, u.gender, u.birthday, u.mobile, u.email,
    u.address,
    u.profile_img, u.session_id, u.auto_login_limit, u.wrong_password_count, u.created_at,
    u.updated_at, u.deleted_at, c.name, le.completion_status as completionStatus
  -->
  <select id="selectLearnersAll"
    resultType="com.goott5.lms.learnermanagement.domain.UserRespDTO">
    SELECT
    u.id, u.type, u.login_id, u.password, u.fullname, u.gender, u.birthday, u.mobile, u.email,
    u.address, u.profile_img, u.session_id, u.auto_login_limit, u.wrong_password_count, u.created_at,
    u.updated_at, u.deleted_at, c.name,
    le.id as leId, le.completion_status as leCompletionStatus,
    c.id as courseId, c.name as courseName
    FROM user u
    INNER JOIN learner_enrollment le ON u.id = le.user_id
    LEFT JOIN course c ON le.course_id = c.id
    LEFT JOIN staff_assignment sa ON le.course_id = sa.course_id
    LEFT JOIN staff_detail sd ON sa.user_id = sd.user_id
    WHERE
    u.type = 'LEARNER'
    AND (
      CASE
      WHEN (sd.position = 'GENERAL_MANAGER') THEN 1=1
      WHEN (sd.position IN ('COURSE_HEAD', 'FULLTIME_INSTRUCTOR')) THEN sa.user_id = #{loginUserId}
      ELSE 1=0
      END
    )
    <if test="pageUserReqDTO.keyword != null and pageUserReqDTO.keyword != ''">
      AND u.fullname LIKE CONCAT('%', #{pageUserReqDTO.keyword}, '%')
    </if>
    <if test="isInProgress != null">
      AND c.is_in_progress = #{isInProgress}
    </if>
    <if test="courseId != null">
      AND c.id = #{courseId}
    </if>
    ORDER BY ${pageUserReqDTO.orderBy} ${pageUserReqDTO.orderDirection}
    <if test="pageUserReqDTO.pageSize != null and pageUserReqDTO.pageNo != null">
      LIMIT #{pageUserReqDTO.offset}, #{pageUserReqDTO.pageSize}
    </if>
  </select>

  <select id="selectLearner"
    resultType="com.goott5.lms.learnermanagement.domain.LearnerRespDTO">
    SELECT
      u.id as userId,
      u.type as userType,
      u.login_id as userLoginId,
      u.password as userPassword,
      u.fullname as userFullname,
      u.gender as userGender,
      u.birthday as userBirthday,
      u.mobile as userMobile,
      u.email as userEmail,
      u.address as userAddress,
      u.profile_img as userProfileImg,
      u.session_id as userSessionId,
      u.auto_login_limit as userAutoLoginLimit,
      u.wrong_password_count as userWrongPasswordCount,
      u.created_at as userCreatedAt,
      u.updated_at as userUpdatedAt,
      u.deleted_at as userDeletedAt,
      c.id as courseId,
      c.name as courseName,
      le.id as leId,
      le.completion_status as leCompletionStatus
    FROM user u
    LEFT JOIN learner_enrollment le ON u.id = le.user_id
    LEFT JOIN course c ON le.course_id = c.id
    LEFT JOIN staff_assignment sa ON c.id = sa.course_id
    LEFT JOIN staff_detail sd ON sa.user_id = sd.user_id
    WHERE
    le.id = #{leId}
    AND (
      u.id = ${loginUserId}
      OR
      (
        u.type = 'LEARNER'
        AND  (
          (sd.position = 'GENERAL_MANAGER')
          OR
          (sd.position IN ('COURSE_HEAD', 'FULLTIME_INSTRUCTOR') AND sa.user_ID = #{loginUserId})
        )
      )
    )
  </select>

  <!-- 리스트와 상세조회를 유연하게 사용할 수 있는 쿼리문 : 교육생 기본정보, 취업관리
    (1) 상세조회
      - le.id로 찾은 행의 user_id로 user 정보 조회
      - le.id로 찾은 행의 course_id로 course 정보 조회 (서비스로직에서 classname과 instructor 가져오기)
  -->
  <select id="selectLearnerListOrDetail" resultType="com.goott5.lms.learnermanagement.domain.LearnerRespDTO">
    SELECT DISTINCT
    le.id as leId,
    le.completion_status as leCompletionStatus,

    u.id as userId,
    u.fullname as userFullname,
    u.birthday as userBirthday,
    u.mobile as userMobile,
    u.email as userEmail,
    u.address as userAddress,
    u.gender as userGender,
    u.profile_img as userProfileImg,

    es.id as esId,
    es.is_counseling_received as esIsCounselingReceived,
    es.counseling_details as esCounselingDetails,
    es.employment_status as esEmploymentStatus,
    es.company_name as esCompanyName,
    es.company_phone as esCompanyPhone,
    es.company_address as esCompanyAddress,

    c.id as courseId,
    c.is_in_progress as courseIsInProgress,
    c.name as courseName

    FROM learner_enrollment le

    INNER JOIN user u ON le.user_id = u.id
    INNER JOIN course c ON le.course_id = c.id
    LEFT JOIN employment_support es ON le.id = es.learner_enrollment_id <!--추후에는 INNER JOIN으로...?-->
    LEFT JOIN staff_assignment sa ON le.course_id = sa.course_id
    LEFT JOIN staff_detail sd ON sa.user_id = sd.user_id

    WHERE
    <!--수강이력의 대상 교육생이 직접 로그인할 때 또는 총괄관리자, 배정이력에 그 과정을 담당하는 학과장, 강사일 때만 조회 가능-->
    <include refid="authCondition"/>

    <if test="pageLearnerReqDTO.keyword != null and pageLearnerReqDTO.keyword != ''">
      AND u.fullname LIKE CONCAT('%', #{pageLearnerReqDTO.keyword}, '%')
    </if>
    <if test="isInProgress != null">
      AND c.is_in_progress = #{isInProgress}
    </if>
    <if test="courseId != null">
      AND c.id = #{courseId}
    </if>
    <if test="leId != null">
      AND le.id = #{leId}
    </if>
    <if test="leId == null">
      ORDER BY ${pageLearnerReqDTO.orderBy} ${pageLearnerReqDTO.orderDirection}
      <if test="pageLearnerReqDTO.pageSize != null and pageLearnerReqDTO.pageNo != null">
        LIMIT #{pageLearnerReqDTO.offset}, #{pageLearnerReqDTO.pageSize}
      </if>
    </if>
  </select>

  <select id="selectTestsByIds" resultType="com.goott5.lms.learnermanagement.domain.test.TestRespDTO">
    SELECT
    t.id AS testId,
    ts.id AS tsId,
    ts.submission_status AS tsSubmissionStatus,
    ts.score AS tsScore,
    ts.is_invalidated AS tsIsInvalidated
    FROM test t
    LEFT JOIN test_submission ts ON t.id = ts.test_id
    WHERE
    <!--<include refid="authCondition"/>-->
    <!--AND -->t.course_id = #{enrolledCourseId} AND ts.learner_id = #{learnerId}
  </select>

  <select id="selectHomeworksByIds" resultType="com.goott5.lms.learnermanagement.domain.homework.HomeworkRespDTO">
    SELECT
    h.id AS homeworkId,
    hs.id AS hsId,
    he.id AS heId,
    he.is_pass AS heIsPass
    FROM homework h
    LEFT JOIN homework_submission hs ON h.id = hs.homework_id
    LEFT JOIN homework_eval he ON hs.id = he.hs_id
    WHERE
    <!--<include refid="authCondition"/>-->
    <!--AND -->h.course_id = #{enrolledCourseId} AND
    (hs.learner_id = #{learnerId} OR hs.learner_id is NULL)
  </select>

  <select id="selectParticipationsByIds"
          resultType="com.goott5.lms.learnermanagement.domain.participation.ParticipationRespDTO">
    <![CDATA[
    SELECT
    p.id AS pId,
    pr.id AS prId,
    p.status AS pStatus,
    p.participation_date AS pParticipationDate,
    p.training_time AS pTrainingTime,
    pr.explanation AS prExplanation
    FROM participation p
    LEFT JOIN participation_reason pr ON p.id = pr.participation_id
    WHERE
    p.learner_enrollment_id = #{leId}
    AND p.participation_date < date_add(NOW(), INTERVAL -1 DAY)
    ORDER BY participation_date DESC
    ]]>
  </select>

  <select id="selectParticipationsByIdsWithPaging"
          resultType="com.goott5.lms.learnermanagement.domain.participation.ParticipationRespDTO">
    <![CDATA[
    SELECT
    p.id AS pId,
    pr.id AS prId,
    p.status AS pStatus,
    p.participation_date AS pParticipationDate,
    p.training_time AS pTrainingTime,
    pr.explanation AS prExplanation
    FROM participation p
    LEFT JOIN participation_reason pr ON p.id = pr.participation_id
    WHERE
    p.learner_enrollment_id = #{leId}
    AND p.participation_date < date_add(NOW(), INTERVAL -1 DAY)
    ORDER BY participation_date DESC LIMIT #{pageParticipationReqDTO.offset}, #{pageParticipationReqDTO.pageSize}
    ]]>
  </select>

  <select id="selecttotalRecordsFromParticipation" resultType="Integer">
    <![CDATA[
    SELECT COUNT(*) FROM participation
    WHERE learner_enrollment_id = #{leId} AND participation_date < date_add(NOW(), INTERVAL -1 DAY)
    ]]>
  </select>

  <sql id="authCondition">
  (
    u.id = #{loginUserId}
    OR (
    CASE
    WHEN (sd.position = 'GENERAL_MANAGER') THEN 1=1
    WHEN (sd.position IN ('COURSE_HEAD', 'FULLTIME_INSTRUCTOR')) THEN sa.user_id = #{loginUserId}
    ELSE 1=0
    END
    )
  )
  </sql>

  <update id="updateEmploymentSupport">
    UPDATE employment_support
    SET
    employment_status = #{employmentSupportReqDTO.employmentStatus},
    company_name = #{employmentSupportReqDTO.companyName},
    company_phone = #{employmentSupportReqDTO.companyPhone},
    company_address = #{employmentSupportReqDTO.companyAddress},
    is_counseling_received = #{employmentSupportReqDTO.isCounselingReceived},
    counseling_details = #{employmentSupportReqDTO.counselingDetails}
    WHERE learner_enrollment_id = #{leId}
  </update>
  <!-- 테스트 목록 조회
  select
  t.id as testId,
  ts.id as tsId,
  ts.submission_status as tsSubmissionStatus,
  ts.score as tsScore
  from test t
  left join test_submission ts on t.id = ts.test_id
  where t.course_id = #{courseId} and ts.learner_id = {learnerId};
  -->
  <!-- 과제 목록 조회
  select
  h.id as homeworkId,
  hs.id as hsId,
  he.id as heId,
  he.is_pass as heIsPass
  from homework h
  left join homework_submission hs on h.id = hs.homework_id
  left join homework_eval he on hs.id = he.hs_id
  where h.course_id = 17 and (hs.learner_id = 12 OR hs.learner_id is NULL)

  select
  p.id as pId,
  pr.id as prId,
  p.status as pStatus,
  p.participation_date as pParticipationDate,
  p.training_time as pTrainingTime,
  pr.explanation as prExplanation
  from participation p
  left join participation_reason pr on p.id = pr.participation_id
  where p.learner_enrollment_id = 96
  ORDER BY participation_date desc;

  -->


</mapper>