<!DOCTYPE html>
<html
    lang="ko"
    layout:decorate="~{layout/basic.html}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
    <script defer th:src="@{/js/courseBoardQnA/qnaApi.js}"></script>
    <script defer th:src="@{/js/courseBoardQnA/qnaModify.js}"></script>
  </head>
  <body>
    <div layout:fragment="content">
      <!-- content header 시작 -->
      <div class="row align-items-center">
        <h1 class="h3 col-3 mx-3 mb-3 text-gray-800">Q&A 수정</h1>
        <input id="qna-board-no" th:value="${boardNo}" type="hidden">
      </div>
      <!-- content header 끝 -->

      <!-- content body 시작 -->
      <form action="" class="mb-4" method="">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="m-0 font-weight-bold text-primary">Q&A 수정</h6>
              </div>
              <div class="col-auto pr-5">
                <div class="form-check">
                  <input class="form-check-input" id="secret-check" type="checkbox">
                  <label class="form-check-label" for="secret-check">
                    공개여부
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="qna-title">제목</label>
                  <input class="form-control" id="qna-title" type="text" value="작성된 제목">
                  <small class="text-danger" id="title-error"></small>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="qna-content">내용</label>
                  <textarea class="form-control" id="qna-content"
                            style="height: 280px;">작성된 내용</textarea>
                  <small class="text-danger" id="content-error"></small>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-12">
                <div class="mb-2">첨부파일</div>
                <div class="custom-file">
                  <input class="custom-file-input" id="qna-file" type="file" multiple>
                  <label class="custom-file-label" for="qna-file">파일을 선택하세요.</label>
                </div>

                <div class="mb-3" id="existing-preview">

                </div>
                <div id="new-preview" class="mt-2"></div>

              </div>
            </div>
          </div>
        </div>
        <!-- 버튼 -->
        <div class="col-12 d-flex justify-content-end mt-3">
          <button type="button" class="btn btn-primary btn-icon-split mr-2" id="qna-modify-btn">
          <span class="icon text-white-50">
              <i class="fas fa-upload"></i>
          </span>
            <span class="text px-5">저장</span>
          </button>
          <button type="button" class="btn btn-secondary btn-icon-split" id="prev-page">
          <span class="icon text-white-50">
              <i class="fas fa-times"></i>
          </span>
            <span class="text px-5">취소</span>
          </button>
        </div>
      </form>
      <!-- content body 끝 -->
    </div>
    <th:block layout:fragment="script" th:inline="javascript">
      <script>
        // javascript 개발은 여기에...

      </script>
    </th:block>
  </body>
</html>